/* ==========================================================================
 *
 * Utility: Function - calculate-vw-size
 *
========================================================================== */

@use './variables' as *;
@use './_strip-unit' as *;
@use 'sass:math';

// vw
@function cvws($_size, $_base-width: $vw-base-width) {
  $size: $_size;
  @if ($_base-width != false) {
    $size: math.div(strip-unit($size), strip-unit($_base-width)) * 100vw;
  }
  @return $size;
}

@function pcvw($_size, $_base-width: $pc-base-width) {
  @return cvws($_size, $_base-width);
}

// @function px($_size) {
//   // @return $_size * 1px;
//   @return strip-unit($_size) * 1px;
// }
@function px($_size) {
  $_ratio: math.div(440px, 750px);
  @return strip-unit($_size) * $_ratio * 1px;
}

@function hpx($_size) {
  @return math.div($_size, 2) * 1px;
}

// vh
@function cvhs($_size, $_base-height) {
  $size: $_size;
  @if ($_base-height != false) {
    $size: math.div(strip-unit($size), strip-unit($_base-height)) * 100vh;
  }
  @return $size;
}
