/* ==========================================================================
 *
 * Utility: Function - zero-padding
 * 数値をゼロパディングする
 *
========================================================================== */

@function zeropadding($num, $digit: 2) {
  $max-nums: 1; // will be '1, 10, 100, 1000...'
  @for $i from 1 to $digit {
    $max-nums: append($max-nums, nth($max-nums, $i) * 10);
  }

  $padding: '';
  @for $i from 1 to $digit {
    @if $num < nth($max-nums, $i + 1) {
      $padding: $padding + '0';
    }
  }

  @return unquote($padding + $num);
}
