/* ==========================================================================
 *
 * Base
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

/* -------------------------------------------
  Elements
------------------------------------------- */
:root {
  --scrollbar: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.67;
  font-weight: 500;
  letter-spacing: normal;
  font-feature-settings: 'palt';
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

b,
em,
span,
strong,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

input:not([type='button']),
input:not([type='reset']),
input:not([type='submit']),
textarea {
  @include reset-input;
}

select {
  @include reset-select;
  appearance: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include reset-button;
  cursor: pointer;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  // pointer-events: none;

  &[src$='.svg'] {
    display: block;
    width: 100%;
    height: auto;
  }
}

svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* -------------------------------------------
  Common
------------------------------------------- */
body {
  .hidden {
    @include hidden;
  }

  .pc {
  }
  .sp {
    display: none !important;
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      font-size: cvws(30);
      line-height: cvws(50);

      .pc {
        display: none !important;
      }
      .sp {
        display: block !important;

        br,
        img,
        span,
        em {
          &.pc {
            display: inline !important;
          }
        }
      }
    }
  }

  // SP 以上 (768 +1 -)
  @media #{$mq-gt-sp} {
    & {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }
  }
}
