/* ==========================================================================
 *
 * Blocks - categories
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;
@use '../utilities/mixins/__img-hover' as *;

.categories {
  & {
    margin-top: 90px;
    color: var(--color-white-1);
    background-color: var(--color-black-1);

    .section__inner {
      padding: 30px 20px;
    }
  }

  @at-root {
    .categories__title {
      font-size: 48px;
      line-height: 1;
    }

    .categories__items {
      margin-top: 35px;

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 13px;
        row-gap: 13px;
      }

      li {
        aspect-ratio: 3 / 2;
        overflow: hidden;
        position: relative;

        .-enabledHover & {
          &:hover {
            &::before {
              opacity: 0.75;
              @include img-hover-on;
            }
          }
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background: none no-repeat center center transparent;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 0;
          opacity: 0.5;
          @include img-hover-off;
        }

        &.-reviews {
          &::before {
            background-image: url(../img/article-category-reviews.jpg);
          }
        }
        &.-customize {
          &::before {
            background-image: url(../img/article-category-customize.jpg);
          }
        }
        &.-heritage {
          &::before {
            background-image: url(../img/article-category-heritage.jpg);
          }
        }
        &.-race {
          &::before {
            background-image: url(../img/article-category-race.jpg);
          }
        }
        &.-lifestyle {
          &::before {
            background-image: url(../img/article-category-lifestyle.jpg);
          }
        }
        &.-event {
          &::before {
            background-image: url(../img/article-category-event.jpg);
          }
        }
      }

      a {
        height: 100%;
        border: 1px solid #4d4d4d;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        span {
          display: block;

          &.-en {
            font-size: 22px;
            font-weight: 500;
            line-height: 1;
          }

          &.-ja {
            font-size: 11px;
            font-weight: 500;
            line-height: 1;
          }
        }
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      margin-top: cvws(90);

      .section__inner {
        padding: cvws(50) cvws(20) cvws(10);
      }
    }

    @at-root {
      .categories__title {
        font-size: cvws(64);
      }

      .categories__items {
        margin-top: cvws(50);

        ul {
          grid-template-columns: repeat(2, 1fr);
          column-gap: cvws(20);
          row-gap: cvws(20);
        }

        li {
          width: cvws(345);
        }

        a {
          span {
            &.-en {
              font-size: cvws(28);
            }

            &.-ja {
              margin-top: cvws(6);
              font-size: cvws(18);
            }
          }
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
