/* ==========================================================================
 *
 * Blocks - contactBanner
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.contactBanner {
  & {
    a {
      width: 168px;
      height: 36px;
      border-radius: 18px;
      display: flex;
      overflow: hidden;
      background-color: var(--color-black-1);

      img {
        width: auto;
        height: 100%;
        display: block;
        transform: translateX(0);
        animation-name: contactBanner;
        animation-duration: 6000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }

  @at-root {
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      a {
        width: cvws(240);
        height: cvws(56);
        border-radius: cvws(28);

        img {
          // animation-duration: 3000ms;
        }
      }
    }

    @at-root {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
