/* ==========================================================================
 *
 * Blocks - ebiButton
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.ebiButton {
  & {
    a,
    button,
    input {
      height: 72px;
      padding: 10px 40px;
      font-size: 17px;
      font-weight: bold;
      line-height: 1;
      border-radius: 36px;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-black-1);

      transition: color 400ms var(--ease-linear-out-slow-in),
        background-color 400ms var(--ease-linear-out-slow-in);

      .-enabledHover & {
        &:hover {
          color: var(--color-white-1);
          background-color: var(--color-black-1);
          transition-duration: 200ms, 200ms;
        }
      }

      span {
      }
    }

    &.-full {
      a,
      button,
      input {
        width: 100%;
      }
    }

    &.-small {
      a,
      button,
      input {
        height: 36px;
        padding: 10px 40px;
        font-size: 11px;
        border-radius: 18px;

        .fontPanchang {
          font-weight: 400;
        }
      }

      i {
        width: 10px;
        margin-left: 10px;
        display: block;
      }
    }

    &.-transparent {
      a,
      button,
      input {
        color: var(--color-white-1);
        border-color: var(--color-white-1);
        background-color: transparent;

        .-enabledHover & {
          &:hover {
            color: var(--color-black-1);
            background-color: var(--color-white-1);
          }
        }
      }
    }
    &.-black {
      a,
      button,
      input {
        color: var(--color-white-1);
        background-color: var(--color-black-1);

        .-enabledHover & {
          &:hover {
            color: var(--color-white-1);
            background-color: var(--color-red-1);
            border-color: var(--color-red-1);
          }
        }
      }
    }
    &.-line {
      a,
      button,
      input {
        color: var(--color-white-1);
        background-color: var(--color-line-1);

        .-enabledHover & {
          &:hover {
            color: var(--color-line-1);
            background-color: var(--color-white-1);
          }
        }
      }
    }
  }

  @at-root {
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      a,
      button,
      input {
        height: cvws(96);
        padding: 0 cvws(20);
        font-size: cvws(28);
        border-radius: cvws(48);

        span {
        }
      }

      &.-full {
      }

      &.-small {
        a,
        button,
        input {
          height: cvws(64);
          padding: cvws(1) cvws(90) 0;
          font-size: cvws(20);
          border-radius: cvws(32);
        }

        i {
          // width: 10px;
          // margin-left: 10px;
          // display: block;
        }
      }
    }

    @at-root {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
