/* ==========================================================================
 *
 * Blocks - top
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.ebigroup {
  overflow: hidden;

  // mv
  .ebigroup__mv {
    position: relative;
    width: 100%;
    height: calc(var(--vh)* 100 - 75px);    

    @media #{$mq-lte-sp} {
      height: calc(var(--vh)* 50 - 11.7333333333vw);
    }

    &__bg {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      left: 0;  
      width: 100%;    
      color: #fff;
      padding: 0 36px 30px;

      @media #{$mq-lte-sp} {
        padding: 0 20px 20px;
      }         
    }

    &__titleMain {
      display: block;
      font-size: 48px;
      line-height: 1;      
      @media #{$mq-lte-sp} {
        font-size: 32px;
      }       
    }

    &__titleSub {
      display: block;
      font-size: 16px;
      line-height: 1;
      margin-top: 13px;
      font-weight: 700;

      @media #{$mq-lte-sp} {
        font-size: 12px;
      }
    }
  }

  // ebigroup
  .ebigroup__about {
    padding: 80px 0;

    &__ctt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__text {      
    }

    &__pic {
      width: 500px;
      aspect-ratio: calc(500 / 740);

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__heading {
      font-weight: 700;
    }

    &__headingMain {
      display: block;
      font-size: 38px;
      font-weight: 600;      
      line-height: 1;
      margin-top: 18px;
    }    

    &__headingSub {
      display: block;
      font-size: 13px;
      line-height: 1;      
      font-weight: 500;
    }

    &__head {
      font-size: 15px;
      line-height: calc(22 / 15);
      margin-top: 44px;
    }

    &__desc {
      display: block;
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 32px;

      p + p {
        margin-top: 1.5em;
      }
    }
  }    


  .ebigroup__group {
    padding: 55px 0 66px;
    background-color: #f2f2f2;

    &__ctt {
      padding: 0 52px;
      max-width: 1144px;
      margin: 0 auto;      
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 25px;
      font-size: 20px;
      
      &::before {
        content: "";
        flex: 1;
        display: block;
        background-color: #ccc;
        height: 1px;
      }

      &::after {
        content: "";
        flex: 1;
        display: block;
        background-color: #ccc;
        height: 1px;
      }
    }

    &__children {
      margin-top: 22px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    &__childrenBox {
      background-color: #fff;
      border: 1px solid #ccc;
    }

    &__childrenBoxHead {
      padding: 19px 25px;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
    }

    &__childrenBody {
      padding: 11px 9px;
      border-top: 1px solid #ccc;
      font-size: 13px;
      font-weight: 500;            

      p {
        font-size: 12px;
        font-weight: 700;
      }

    }

    &__parent {
      background-color: #fff;
      border: 1px solid #ccc;
      margin-top: 10px;      
      padding: 27px 24px;
      text-align: center;
    }    

    &__parentHead {
      font-weight: 700;
      font-size: 16px;
      text-align: center;
    }

    &__parentDesc {
      font-size: 13px;
      font-weight: 500;
      margin-top: 3px;
    }
  }


  .ebigroup__mission {
    padding: 100px 0;

    &__ctt {
      padding: 0 52px;
    }

    &__head {
      text-align: center;
      font-size: 48px;
      font-weight: 500;
    }

    &__heading {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: calc(44 / 32);
      margin-top: 20px;
    }

    &__pic {
      margin-top: 52px;
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }

    &__desc {
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      text-align: center;
      margin-top: 56px;

      p + p {
        margin-top: 1.5em;
      }
    }
  }

  .ebigroup__feature {
    padding: 107px 0;
    background-color: #000;

    &__inner {      
    }

    &__ctt {
      padding: 0 52px;      
      max-width: 1144px;
      margin: 0 auto;
    }

    &__head {
      color: #fff;
    }

    &__heading {
      font-size: 32px;
      font-weight: 700;
    }

    &__desc {
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 17px;
    }

    &__body {
      padding: 56px 0;
      background-color: #fff;
      border-radius: 24px;
      margin-top: 42px;
      display: grid;
      gap: 56px;
    }

    &__sec {
      padding: 0 52px;
    }

    &__secHeadingMain {
      display: block;
      font-size: 28px;
    }

    &__secHeadingSub {
      display: block;
      font-size: 14px;
    }

    &__secFig {
      margin-top: 40px;

      &.__is1 {
        
      }

      &.__is2 {
        max-width: 622px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__secFigCaption {
      font-size: 12px;
      text-align: center;
      opacity: 0.5;
      margin-top: 15px;
    }

    &__secDesc {
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 34px;
    }
  }

  .ebigroup__stores {
    margin-top: 120px;

    &__heading {
      display: flex;
      align-items: center;
      justify-content: center;      
      gap: 12px;
    }

    &__headingMain {
      font-size: 28px;
      line-height: 1;
    }

    &__headingSub {
      font-size: 22px;
      line-height: 1;
      font-weight: 700;
    }

    &__map {
      height: 475px;
      background-color: #ccc;
      margin-top: 40px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);      
      gap: 47px 34px;
      padding: 0 72px;
      margin-top: 80px;
    }

    &__itemFig {
      display: block;
      width: 100%;
      aspect-ratio: 540 / 360;
    }

    &__itemTitle {
      font-size: 20px;
      font-weight: 700;
      margin-top: 14px;

      span {
        display: block;
        font-size: 12px;
        opacity: 0.5;
      }
    }

    &__itemDesc {
      font-size: 15px;
      line-height: calc(24 / 15); 
      margin-top: 5px;
    }
    
    &__itemInfo {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__itemAddress {
      font-size: 14px;
      line-height: 20 / 14;      
      font-weight: 700;

      a {
        color: #d5001c;
        text-decoration: underline;
      }
    }

    &__itemInfoTag {
      width: 158px;
      aspect-ratio: 158 / 25;
    }

    &__itemLinks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 12px; 
    }

    &__itemLink {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 0;
      border: 1px solid #000;
      line-height: 1;
      font-size: 10px;      
      border-radius: 10rem;
    }

    &__itemLinkIcon {
      width: 9px;
      aspect-ratio: 9 / 8;
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }

  .ebigroup__restaurant {
    margin-top: 120px;    

    &__heading {
      display: flex;
      align-items: center;
      justify-content: center;      
      gap: 12px;
    }

    &__headingMain {
      font-size: 28px;
      line-height: 1;
    }

    &__headingSub {
      font-size: 22px;
      line-height: 1;
      font-weight: 700;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);                  
      margin-top: 48px;
      gap: 47px 34px;
      padding: 0 72px;      
    }

    &__itemFig {
      display: block;
      width: 100%;
      aspect-ratio: 540 / 360;
    }

    &__itemTitleWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;      
      margin-top: 18px;
    }

    &__itemTitle {
      font-size: 20px;
      font-weight: 700;
    }

    &__itemTitleMain {
      display: block;
      font-size: 20px;
      font-weight: 700;
    }

    &__itemTitleSub {
      display: block;
      font-size: 12px;
      font-weight: 700;
    }

    &__itemLogo {
      width: 150px;
    }

    &__itemDesc {
      font-size: 15px;
      line-height: calc(26 / 15); 
      margin-top: 6px;
    }
    
    &__itemInfo {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;      
    }

    &__itemAddress {
      font-size: 14px;
      line-height: 20 / 14;      
      font-weight: 700;

      a {
        color: #d5001c;
        text-decoration: underline;
      }
    }

    &__itemInfoTag {
      width: 158px;
      aspect-ratio: 158 / 25;
    }

    &__itemLinks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;           
      margin-top: 12px; 
    }

    &__itemLink {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 0;
      border: 1px solid #000;
      line-height: 1;
      font-size: 10px;      
      border-radius: 10rem;
    }

    &__itemLinkIcon {
      width: 9px;
      aspect-ratio: 9 / 8;
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }

  .ebigroup__kokusai {
    background-color: #f2f2f2;
    padding: 120px 0;
    margin-top: 80px;

    &__ctt {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 50%);
      padding: 0 80px;      
    }

    &__pic {
      width: 496px;
      aspect-ratio: 496 / 496;
    }

    &__head {
      height: 32px;

      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }

    &__heading {
      margin-top: 32px;
      font-size: 24px;
      font-weight: 700;
      line-height: calc(30 / 24);
    }

    &__desc {
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 16px;
    }

    &__link {

    }

    &__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 28px 0;
      font-size: 17px;
      font-weight: 700;
      border: 1px solid #000;
      line-height: 1;      
      border-radius: 10rem;
      margin-top: 32px;
      width: 100%;
      max-width: 440px;      
      color: #fff;
      background-color: #000;
    }

    &__linkIcon {
      width: 13px;
      aspect-ratio: 13 / 11;
      position: absolute;
      top: 51%;
      right: 30px;
      transform: translateY(-50%);   
      
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }    

  }


}