/* ==========================================================================
 *
 * Blocks - header
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.header {
  & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @at-root {
    .header__news {
      display: none;
      position: relative;
      z-index: 2;

      .wrapper.-hasNewsTicker & {
        width: 100%;
        height: 24px;
        background-color: var(--color-red-1);
        display: flex;
        align-items: center;
        overflow: hidden;

        &:hover {
          .-enabledHover & {
            ul {
              animation-play-state: paused;
            }
          }
        }

        [data-ebi-header-news-wrapper] {
          display: flex;
          align-items: center;
        }

        [data-ebi-header-news-list] {
          display: flex;
          align-items: center;
          animation-name: ticker;
          animation-duration: 40s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        [data-ebi-header-news-item] {
          padding: 0 20px;
          color: var(--color-white-1);
          font-size: 12px;
          line-height: 1;
          display: flex;
          align-items: center;
          white-space: nowrap;
          position: absolute;
          opacity: 0;
          z-index: -1;

          &.-shown {
            opacity: 1;
            position: relative;
            z-index: 1;
          }

          &::before {
            content: '';
            width: 1px;
            background-color: rgba($color-white-1, 0.5);
            position: absolute;
            left: 0;
            top: 4px;
            bottom: 4px;
          }

          time {
            padding-top: 0;
            font-size: 9px;
            line-height: 1;
          }

          span {
            margin-left: 10px;
            padding: 6px 0;
            display: block;
          }

          a {
          }
        }
      }
    }

    .header__inner {
      width: 100%;
      height: 75px;
      padding: 10px 20px;
      background-color: var(--color-white-1);
      border-bottom: 1px solid rgba($color-black-1, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
    }

    .header__logo {
      width: 152px;
    }

    .header__nav {
    }

    .header__contact {
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      &.-opened {
        .header__nav {
          height: 100%;
        }

        .header__toggle {
          span {
            &:nth-child(1) {
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0) rotate(-25deg);
            }

            &:nth-child(2) {
              opacity: 0;
              transform: translateX(50%);
            }

            &:nth-child(3) {
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0) rotate(25deg);
            }
          }
        }
      }
    }

    @at-root {
      .header__news {
        .wrapper.-hasNewsTicker & {
          height: cvws(38);

          [data-ebi-header-news-wrapper] {
          }

          [data-ebi-header-news-list] {
            animation-duration: 20s;
          }

          [data-ebi-header-news-item] {
            padding: 0 cvws(20);
            font-size: cvws(18);

            &::before {
              top: cvws(6);
              bottom: cvws(6);
            }

            time {
              padding-top: cvws(2);
              font-size: cvws(13);
            }

            span {
              margin-left: cvws(28);
              padding: cvws(11) 0 cvws(10);
            }

            a {
            }
          }
        }
      }

      .header__inner {
        height: cvws(88);
        padding: cvws(14) cvws(126) cvws(14) cvws(20);
        position: relative;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background-color: var(--color-white-1);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }

      .header__logo {
        width: cvws(220);
        z-index: 2;
      }

      .header__nav {
        width: 100%;
        height: 0;
        background-color: var(--color-white-1);
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        transition: height 400ms var(--ease-fast-out-slow-in);

        .-opened & {
          height: 100%;
          transition-duration: 400ms;
        }
      }

      .header__contact {
        z-index: 2;
      }

      .header__toggle {
        width: cvws(56);
        height: cvws(30);
        display: block;
        position: absolute;
        top: 50%;
        right: cvws(20);
        transform: translateY(-50%);
        z-index: 2;

        button {
          width: 100%;
          height: 100%;
          display: block;
        }

        span {
          height: 1px;
          background-color: var(--color-black-1);
          display: block;
          position: absolute;
          left: 0;
          transition: all 200ms var(--ease-linear-out-slow-in);

          &:nth-child(1) {
            width: 100%;
            top: 0;
          }

          &:nth-child(2) {
            width: cvws(28);
            top: cvws(15);
          }

          &:nth-child(3) {
            width: cvws(42);
            top: cvws(30);
          }
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
