/* ==========================================================================
 *
 * Blocks - latast
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.latast {
  & {
    margin-top: 90px;
    color: var(--color-white-1);
    background-color: var(--color-black-1);

    .tags {
      & {
        margin-top: 0;
        padding-left: 314px;

        h3 {
          width: 314px;
        }
      }
    }
  }

  @at-root {
    .latast__inner {
      padding: 30px 20px 0;
    }

    .latast__title {
      font-size: 48px;
      line-height: 1;
    }

    .latast__rows {
      margin: 10px -20px 0;
    }

    .latest__row {
      height: 288px + 60px;
      padding: 30px 20px;
      overflow: hidden;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;

      &:nth-child(2n) {
        background-color: rgba($color-white-1, 0.12);
      }

      &.-tag {
        height: auto;
        padding-top: cvws(24);
      }
    }

    .latest__row__title {
      width: 314px;
      height: 100%;
      padding-left: 20px;
      border-left: 1px solid rgba($color-white-1, 0.3);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .-inner {
      }

      .-en {
        font-size: 22px;
        line-height: 1;
        display: block;
      }

      .-ja {
        margin-top: 6px;
        color: rgba($color-white-1, 0.8);
        font-size: 11px;
        line-height: 1;
        display: block;
      }
    }

    .latast__items {
      margin-bottom: -30px;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      overflow: auto;
    }

    .latast__item {
      width: 300px;
      height: auto;
      flex-shrink: 0;

      &.-viewall {
        > a {
          aspect-ratio: 3 / 2;
          border: 1px solid rgba($color-white-1, 0.3);
          background-color: var(--color-black-1);
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: var(--color-white-1);
            font-size: 12px;
          }
        }
      }

      > a {
        display: block;
      }

      .-date {
        color: rgba($color-white-1, 0.5);
        font-size: 8px;
        line-height: 1;
        display: block;
      }

      .-title {
        height: 34px;
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.214;

        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      .-tags {
        margin-top: 6px;
        line-height: 1;

        a {
          font-size: 10px;
          line-height: 1.6;
          border-bottom: 1px solid var(--color-red-1);
          white-space: nowrap;
        }
      }
    }

    .latast__item__img {
      aspect-ratio: 3 / 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .latast__item__body {
      padding: 12px 30px 0 0;
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      margin-top: cvws(85);

      .tags {
        & {
          padding-left: 0;

          h3 {
            width: auto;
          }
        }
      }
    }

    @at-root {
      .latast__inner {
        padding: cvws(60) cvws(20) 0;
      }

      .latast__title {
        font-size: cvws(64);
      }

      .latast__rows {
        margin: 0 cvws(-20);
      }

      .latest__row {
        height: auto;
        padding: cvws(50) 0 cvws(8) cvws(20);
        flex-flow: column nowrap;
      }

      .latest__row__title {
        width: auto;
        height: auto;
        padding-left: 0;
        border-left: 0;

        .-inner {
          display: flex;
          align-items: center;
        }

        .-en {
          margin-right: cvws(20);
          padding-right: cvws(20);
          font-size: cvws(34);
          border-right: 1px solid rgba($color-white-1, 0.3);
        }

        .-ja {
          margin: 0;
          font-size: cvws(18);
        }
      }

      .latast__items {
        margin: cvws(30) 0 0 cvws(-20);
        padding: 0 cvws(20);
      }

      .latast__item {
        width: cvws(396);
        padding-bottom: cvws(30);
        aspect-ratio: unset;
        flex-shrink: 0;

        &.-viewall {
          > a {
            span {
              font-size: cvws(24);
            }
          }
        }

        & + .latast__item {
          margin-left: cvws(20);
        }

        > a {
          display: block;
        }

        .-date {
          font-size: cvws(13);
        }

        .-title {
          height: cvws(28) * 2;
          margin-top: cvws(14);
          font-size: cvws(24);
          line-height: cvws(28);

          br {
            display: none;
          }
        }

        .-tags {
          margin-top: cvws(12);

          a {
            font-size: cvws(15);
            line-height: cvws(23);
          }
        }
      }

      .latast__item__img {
        width: 100%;
        aspect-ratio: 3 / 2;
      }

      .latast__item__body {
        padding: cvws(18) cvws(30) 0 0;
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
