/* ==========================================================================
 *
 * Blocks - lineFriends
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.lineFriends {
  & {
    padding: 40px 120px;
    color: var(--color-white-1);
    background-color: var(--color-black-1);
  }

  @at-root {
    .lineFriends__inner {
      max-width: 1040px;
      margin: 0 auto;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      position: relative;

      .ebiButton {
        margin-top: 40px;
      }
    }

    .lineFriends__contents {
      width: 100%;

      ol {
        margin-top: 30px;
        border-top: 1px solid var(--color-white-1);

        li {
          padding: 20px 10px 25px 0;
          border-bottom: 1px solid var(--color-white-1);
          display: flex;

          > span {
            width: 128px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }

          p {
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.75;
          }

          small {
            font-size: 12px;
            line-height: 1.2;
            display: block;
          }
        }
      }
    }

    .lineFriends__title {
      margin-top: 40px - 6px;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.154;
    }

    .lineFriends__img {
      // width: 268px;
      width: 25.769231%;
      margin-left: 72px;
      flex-shrink: 0;
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      padding: cvws(70) cvws(20) 0;
    }

    @at-root {
      .lineFriends__inner {
        max-width: none;
        flex-flow: column nowrap;
        overflow: hidden;

        .ebiButton {
          margin-top: cvws(40);
        }
      }

      .lineFriends__contents {
        ol {
          margin-top: cvws(60);

          li {
            min-height: cvws(157);
            padding: 0;
            align-items: center;

            > span {
              width: cvws(100);
              font-size: cvws(32);
              justify-content: flex-start;
            }

            p {
              font-size: cvws(24);
              line-height: cvws(32);
            }

            small {
              margin-top: cvws(8);
              font-size: cvws(18);
              line-height: cvws(24);
            }
          }
        }
      }

      .lineFriends__title {
        margin-top: 0;
        font-size: cvws(36);
        line-height: cvws(42);
        text-align: center;
      }

      .lineFriends__img {
        width: cvws(456);
        margin: cvws(40) auto cvws(-320);
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
