
@use './variables' as *;
@use './_utils' as *;
@use '../utilities/mixins/__img-hover' as *;

.loading {
    background-color: #fff;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;    
    color: #fff;

    &__ctt {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    &__text {
        font-size: 38px;                        
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 33%,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 0) 66%,
            rgba(0, 0, 0, 0) 100%
        );        
        mask-size: 300% 100%;
        mask-position: -50% 50%;

        @media #{$mq-lte-sp} {
            font-size: 19px;
        }
    }

    &__logo {
        width: 328px;
        margin-top: 20px;
        opacity: 0;
        
        aspect-ratio: calc(328 / 90);

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;                        
        }

        @media #{$mq-lte-sp} {
            width: 164px;
            margin-top: 10px;
        }



        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    // display: none;
}