/* ==========================================================================
 *
 * Blocks - love
 *
========================================================================== */

@use 'sass:math';
@use './variables' as *;
@use './_utils' as *;

.love {
  & {
    padding: 116px 0 116px;
    color: var(--color-white-1);
    background-color: var(--color-red-1);
    overflow: hidden;
    position: relative;
  }

  @at-root {
    .love__imgs {
      width: 1280px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      > div {
        width: 180px;
        position: absolute;
      }

      .-left {
        left: 20px;
        top: -60px;
      }

      .-right {
        right: 20px;
        top: -20px;
      }

      img {
        width: 100%;
        border-radius: 8px;
        display: block;

        & + img {
          margin-top: 8px;
        }
      }
    }

    .love__inner {
      max-width: 745px;
      margin: 0 auto;
      display: flex;
    }

    .love__summary {
      width: 445px;
      flex-shrink: 0;
    }

    .love__title {
      em {
        margin-top: -6px;
        font-size: 48px;
        line-height: 0.958;
        display: block;
      }

      span {
        margin-top: 6px;
        font-size: 11px;
        line-height: 1.364;
        display: block;
      }
    }

    .love__description {
      margin-top: 22px;
      font-size: 14px;
      line-height: 1.714;
    }

    .love__btn {
      margin-top: 28px;
    }

    .love__latest {
      width: 300px;
    }

    .love__article {
      a {
      }

      .-tags {
        margin-top: 6px;
        line-height: 1;

        a {
          font-size: 10px;
          line-height: 1.6;
          border-bottom: 1px solid var(--color-white-1);
        }
      }
    }

    .love__article__img {
    }

    .love__article__body {
      .-date {
        font-size: 8px;
        line-height: 1;
      }

      .-title {
        font-size: 12px;
        line-height: 1.25;
      }
    }
  }

  // SP 以上 (768 +1 -)
  @media #{$mq-gt-sp} {
    & {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }
  }
}
