/* ==========================================================================
 *
 * Blocks - love
 *
========================================================================== */

@use 'sass:math';
@use './variables' as *;
@use './_utils' as *;
@use '../utilities/mixins/__img-hover' as *;

.love {
  & {
    padding: 116px 0 116px;
    color: var(--color-white-1);
    background-color: var(--color-red-1);
    overflow: hidden;
    position: relative;
  }

  @at-root {
    .love__imgs {
      width: 1280px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      > div {
        width: 180px;
        position: absolute;
      }

      .-left {
        left: 20px;
        top: -60px;
      }

      .-right {
        right: 20px;
        top: -20px;
      }

      img {
        width: 100%;
        border-radius: 8px;
        display: block;

        & + img {
          margin-top: 8px;
        }
      }
    }

    .love__inner {
      max-width: 745px;
      margin: 0 auto;
      display: flex;
    }

    .love__summary {
      width: 445px;
      flex-shrink: 0;
    }

    .love__title {
      em {
        margin-top: -6px;
        font-size: 48px;
        line-height: 0.958;
        display: block;
      }

      span {
        margin-top: 6px;
        font-size: 11px;
        line-height: 1.364;
        display: block;
      }
    }

    .love__description {
      margin-top: 22px;
      font-size: 14px;
      line-height: 1.714;
    }

    .love__btn {
      margin-top: 28px;

      a {
        .-enabledHover & {
          &:hover {
            color: var(--color-red-1);
            transition-duration: 200ms, 200ms;
          }
        }
      }
    }

    .love__latest {
      width: 300px;
    }

    .love__article {
      a {
        .-enabledHover & {
          &:hover {
            .love__article__img {
              img {
                @include img-hover-on($transform-center: false);
              }
            }
          }
        }
      }

      .-tags {
        margin-top: 6px;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          font-size: 10px;
          line-height: 1.6;
          border-bottom: 1px solid var(--color-white-1);
          white-space: nowrap;

          .-enabledHover & {
            &:hover {
              border-bottom-color: transparent;
            }
          }
        }
      }
    }

    .love__article__img {
      overflow: hidden;
      background-color: var(--color-black-1);

      img {
        @include img-hover-off($transform-center: false);
      }
    }

    .love__article__body {
      .-date {
        font-size: 8px;
        line-height: 1;
      }

      .-title {
        font-size: 12px;
        line-height: 1.25;
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      padding: cvws(70) 0;
    }

    @at-root {
      .love__imgs {
        width: auto;
        position: static;
        top: auto;
        left: auto;
        transform: none;

        > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .-left {
          left: cvws(-90);
          top: cvws(424);
        }

        .-right {
          right: auto;
          left: cvws(-45);
          top: auto;
          bottom: cvws(20);
        }

        img {
          width: cvws(180);
          border-radius: cvws(8);

          & + img {
            margin: 0 0 0 cvws(8);
          }
        }
      }

      .love__inner {
        max-width: none;
        text-align: center;
        flex-flow: column nowrap;
      }

      .love__summary {
        width: auto;
      }

      .love__title {
        em {
          margin-top: 0;
          font-size: cvws(58);
          line-height: 1;

          br {
            display: none;
          }
        }

        span {
          margin-top: cvws(8);
          font-size: cvws(18);
          line-height: 1;
        }
      }

      .love__description {
        margin-top: cvws(36);
        font-size: cvws(24);
        line-height: cvws(28);
      }

      .love__btn {
        margin-top: cvws(48);
      }

      .love__latest {
        width: cvws(396);
        margin: cvws(210) auto cvws(120);
      }

      .love__article {
        text-align: left;

        a {
        }

        .-tags {
          margin-top: cvws(6);

          a {
            font-size: cvws(15);
          }
        }
      }

      .love__article__img {
      }

      .love__article__body {
        margin-top: cvws(16);

        .-date {
          color: rgba($color-white-1, 0.5);
          font-size: cvws(13);
          display: block;
        }

        .-title {
          margin-top: cvws(14);
          font-size: cvws(24);
          line-height: cvws(28);
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
