/* ==========================================================================
 *
 * Blocks - main
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.main {
  & {
    padding-top: 75px;
    position: relative;
    z-index: 0;
  }

  @at-root {
  }

  // SP 以上 (768 +1 -)
  @media #{$mq-gt-sp} {
    & {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }
  }
}
