/* ==========================================================================
 *
 * Blocks - main
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.main {
  & {
    padding-top: 75px;
    position: relative;
    z-index: 0;

    .wrapper.-hasNewsTicker & {
      padding-top: 75px + 24px;
    }
  }

  @at-root {
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      padding-top: cvws(88);

      .wrapper.-hasNewsTicker & {
        padding-top: cvws(88 + 39);
      }
    }

    @at-root {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
