/* ==========================================================================
 *
 * Blocks - nav
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;
@use '../utilities/mixins/__img-hover' as *;

.nav {
  & {
    a {
    }
  }

  @at-root {
    .nav__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav__item {
      position: relative;
      transition: color 150ms var(--ease-linear-out-slow-in);

      i svg path {
        transition: fill 150ms var(--ease-linear-out-slow-in);
      }

      .-enabledHover & {
        &:hover {
          color: var(--color-red-1);
          transition-duration: 200ms;

          i svg path {
            fill: var(--color-red-1);
            transition-duration: 200ms;
          }
        }
      }

      & + & {
        margin-left: 40px;
      }

      &.-contents {
        cursor: pointer;

        .-enabledHover & {
          &:hover {
            &::before {
              border-bottom-width: 12px;
              transition-delay: 0ms;
            }
            .nav__child {
              height: calc(20px + cvws(114, $pc-base-width));
              transition-duration: 400ms;
            }
          }
        }

        &::before {
          content: '';
          border: 5px solid transparent;
          border-top: none;
          border-bottom: 0 solid var(--color-black-1);
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          transition: border-bottom-width 100ms 100ms
            var(--ease-fast-out-slow-in);
        }

        &::after {
          content: '';
          width: 100%;
          height: 75px;
          position: absolute;
          top: -28px;
        }

        i {
          width: 7px;
          margin-left: 4px;
          display: block;
        }
      }

      > a {
        font-family: $font-family-panchang;
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
      }

      span {
      }
    }

    .nav__child {
      height: 0;
      color: var(--color-white-1);
      overflow: hidden;
      position: fixed;
      top: 75px;
      left: 0;
      right: 0;
      z-index: 1;
      transition: height 200ms var(--ease-fast-out-slow-in);

      .wrapper.-top & {
        top: 75px + 24px;
      }
    }

    .nav__child__inner {
      padding: 10px 20px;
      background-color: var(--color-black-1);
      position: relative;

      ul {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      li {
        width: calc((100% - (5 * 6px)) / 7);
        max-width: 172px;
        aspect-ratio: 172 / 114;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
        position: relative;

        & + li {
          margin-left: 5px;
        }

        .-enabledHover & {
          &:hover {
            &::before {
              opacity: 0.75;
              @include img-hover-on;
            }
          }
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background: none no-repeat center center transparent;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          z-index: 0;
          opacity: 0.5;
          @include img-hover-off;
        }

        &.-reviews {
          &::before {
            background-image: url(../img/article-category-reviews.jpg);
          }
        }
        &.-customize {
          &::before {
            background-image: url(../img/article-category-customize.jpg);
          }
        }
        &.-heritage {
          &::before {
            background-image: url(../img/article-category-heritage.jpg);
          }
        }
        &.-race {
          &::before {
            background-image: url(../img/article-category-race.jpg);
          }
        }
        &.-lifestyle {
          &::before {
            background-image: url(../img/article-category-lifestyle.jpg);
          }
        }
        &.-event {
          &::before {
            background-image: url(../img/article-category-event.jpg);
          }
        }
        &.-love {
          &::before {
            background-image: url(../img/article-category-love.jpg);
          }
        }
      }

      a {
        height: 100%;
        border: 1px solid #4d4d4d;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        span {
          display: block;

          &:nth-child(1) {
            font-family: $font-family-panchang;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
          }

          &:nth-child(2) {
            margin-top: 2px;
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
          }
        }
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      height: calc(var(--vh) * 100 - cvws(88));
      margin-top: cvws(88);
      padding: 0 cvws(20);
      overflow: auto;
      overscroll-behavior: contain;

      .wrapper.-top & {
        height: calc(var(--vh) * 100 - cvws(88 + 38));
        margin-top: cvws(88 + 38);
      }
    }

    @at-root {
      .nav__inner {
        min-height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }

      .nav__list {
        padding-top: cvws(40);
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .nav__item {
        width: 100%;

        & + & {
          margin: cvws(30) 0 0 0;
        }

        &.-contents {
          &,
          .-enabledHover &:hover {
            .nav__child {
              opacity: 1;
              height: auto;
            }
          }

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }

          i {
            display: none;
          }
        }

        > a {
          font-size: cvws(34);
        }

        span {
        }
      }

      .nav__child {
        height: auto;
        margin-top: cvws(12);
        margin-bottom: cvws(16);
        position: relative;
        top: auto;
        left: auto;

        .wrapper.-top & {
          top: auto;
        }
      }

      .nav__child__inner {
        padding: 0;
        background-color: transparent;

        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: cvws(9);
          row-gap: cvws(9);
        }

        li {
          width: cvws(230);
          width: auto;
          max-width: none;
          background-color: var(--color-black-1);
          aspect-ratio: 230 / 153;

          & + li {
            margin-left: 0;
          }
        }

        a {
          border: none;

          span {
            &:nth-child(1) {
              font-size: cvws(18);
            }

            &:nth-child(2) {
              margin-top: 2px;
              font-size: cvws(14);
            }
          }
        }
      }

      .nav__footer {
        height: cvws(330);
        padding-top: cvws(86);
        padding-bottom: cvws(24);
        flex-flow: column nowrap;
        justify-content: space-between;

        body &.sp {
          display: flex !important;
        }
      }

      .nav__line {
        a {
          width: cvws(630);
          height: cvws(96);
          margin: 0 auto;
          font-size: cvws(28);
          font-weight: bold;
          border: 1px solid var(--color-black-1);
          border-radius: cvws(48);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .nav__footer__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .nav__copyright {
        color: rgba($color-black-1, 0.5);
        font-size: cvws(18);
        line-height: 1;
      }

      .nav__stockLink {
        font-size: cvws(20);
        line-height: 1;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        i {
          width: cvws(19);
          margin-left: cvws(8);
          display: block;
        }
      }
    }
  }

  // SP 以上 (768 +1 -)
  @media #{$mq-gt-sp} {
    & {
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
      .nav__item {
        &.-contents {
          .-enabledHover & {
            &:hover {
              .nav__child {
                height: calc(20px + 114px);
              }
            }
          }
        }
      }
    }
  }
}
