/* ==========================================================================
 *
 * Blocks - newsList
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.newsList {
  & {
  }

  @at-root {
    .newsList__list {
      border-top: 1px solid var(--color-black-1);
    }

    .newsList__item {
      border-bottom: 1px solid var(--color-black-1);

      a {
        width: 100%;
        padding: 19px 20px 21px;
        font-size: 14px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: color 400ms var(--ease-linear-out-slow-in),
          background-color 400ms var(--ease-linear-out-slow-in);

        .-enabledHover & {
          &:hover {
            color: var(--color-white-1);
            background-color: var(--color-red-1);
            transition-duration: 200ms, 200ms;

            .-date,
            .-i {
              &::before {
                background-color: var(--color-white-1);
              }
            }

            .-date {
              color: var(--color-white-1);
            }

            .-i {
              i {
                background-color: var(--color-white-1);
              }

              svg {
                path {
                  fill: var(--color-red-1) !important;
                }
              }
            }
          }
        }
      }

      .-date,
      .-i {
        position: relative;

        &::before {
          content: '';
          width: 1px;
          height: 23px;
          background-color: rgba($color-black-1, 0.1);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          transition: background-color 400ms var(--ease-linear-out-slow-in);
        }
      }

      .-title {
        width: 100%;
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
      }

      .-date {
        width: 144px;
        font-size: 8px;
        color: rgba($color-black-1, 0.5);
        text-align: center;
        flex-direction: 0;

        transition: color 400ms var(--ease-linear-out-slow-in);
      }

      .-i {
        width: 44px;
        padding-left: 20px;
        flex-direction: 0;

        i {
          width: 24px;
          height: 24px;
          background-color: var(--color-black-1);
          display: flex;
          align-items: center;
          justify-content: center;

          transition: background-color 400ms var(--ease-linear-out-slow-in);
        }

        svg {
          width: 10px;

          path {
            transition: fill 400ms var(--ease-linear-out-slow-in);
          }
        }
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
    }

    @at-root {
      .newsList__list {
      }

      .newsList__item {
        a {
          padding: cvws(29) cvws(90) cvws(29) cvws(20);
          font-size: cvws(24);
          flex-flow: column nowrap;
          align-items: flex-start;
          position: relative;
        }

        .-title,
        .-date,
        .-i {
          &::before {
            display: none;
          }
        }

        .-title {
          margin-top: cvws(4);
          padding-right: 0;
          order: 2;
        }

        .-date {
          width: auto;
          font-size: cvws(13);
          order: 1;
        }

        .-i {
          width: auto;
          padding-left: 0;
          position: absolute;
          right: cvws(20);
          top: 50%;
          transform: translateY(-50%);

          i {
            width: cvws(31);
            height: cvws(31);
          }

          svg {
            width: cvws(17);
          }
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
