/* ==========================================================================
 *
 * Blocks - pager
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.pager {
  & {
    padding: 44px 80px;
    border-top: 1px solid rgba($color-black-1, 0.2);
    border-bottom: 1px solid rgba($color-black-1, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  @at-root {
    .pager__nav {
      &.-btn {
        a {
          padding: 12px;
          font-size: 10px;
          text-transform: uppercase;
          display: block;
        }

        &.-disabled {
          a {
            opacity: 0.2;
            pointer-events: none;
          }
        }
      }

      &.-prev {
      }

      &.-next {
      }

      &.-link {
        display: flex;
        align-items: center;
        justify-content: center;

        a,
        span {
          margin: 0 40px;
          padding: 12px;
          font-size: 10px;
          display: block;

          &.-current,
          &.current {
            color: var(--color-red-1);
          }
        }
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      padding: cvws(28) cvws(20);
    }

    @at-root {
    }
    .pager__nav {
      &.-btn {
        a {
          padding: cvws(10);
          font-size: cvws(16);
        }
      }

      &.-prev {
      }

      &.-next {
      }

      &.-link {
        a,
        span {
          margin: 0 cvws(20);
          padding: cvws(10);
          font-size: cvws(16);
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
