/* ==========================================================================
 *
 * Blocks - related
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.related {
  & {
    margin-top: 80px;

    .section__inner {
      padding: 30px 20px;
    }
  }

  @at-root {
    .related__title {
      font-size: 48px;
      line-height: 1;
    }

    .related__items {
      margin-top: 15px;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }

    .related__item {
      width: calc((100% - 40px) / 3);

      & + & {
        margin-left: 20px;
      }

      > a {
        display: block;
      }

      .-date {
        color: rgba($color-black-1, 0.5);
        font-size: 8px;
        line-height: 1;
        display: block;
      }

      .-title {
        margin-top: 6px;
        font-size: 14px;
        line-height: 1.214;
      }

      .-tags {
        margin-top: 10px;
        line-height: 1;

        a {
          font-size: 10px;
          line-height: 1.6;
          border-bottom: 1px solid var(--color-red-1);
          white-space: nowrap;
        }
      }
    }

    .related__item__img {
    }

    .related__item__body {
      padding-top: 12px;
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      margin-top: cvws(80);

      .section__inner {
        padding: cvws(30) cvws(20);
      }
    }

    @at-root {
      .related__title {
        font-size: cvws(64);
      }

      .related__items {
        margin: cvws(20) cvws(-20) 0;
        padding: 0 cvws(10);
        overflow: auto;
      }

      .related__item {
        width: cvws(630);
        flex-shrink: 0;

        &,
        & + & {
          margin: 0 cvws(10);
        }

        > a {
        }

        .-date {
          font-size: cvws(13);
        }

        .-title {
          margin-top: cvws(12);
          font-size: cvws(24);
          line-height: cvws(28);
        }

        .-tags {
          margin-top: cvws(10);

          a {
            font-size: cvws(15);
            line-height: cvws(23);
          }
        }
      }

      .related__item__img {
      }

      .related__item__body {
        padding-top: cvws(18);
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
