/* ==========================================================================
 *
 * Blocks - top
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.specialex {
  overflow: hidden;

  // mv
  .specialex__mv {
    position: relative;
    width: 100%;
    height: calc(var(--vh)* 100 - 75px);    

    &__bg {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      left: 0;  
      width: 100%;    
      color: #fff;
      padding: 0 36px 30px;
    }

    &__titleMain {
      display: block;
      font-size: 48px;
      line-height: 1;      
    }

    &__titleSub {
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 1;
      margin-top: 13px;
      font-weight: 700;
      padding-left: 10px;

      &::before {
        content: "";
        width: 1px;
        height: 13px;
        background-color: #fff;
        box-shadow: 0 0 5px #60ff00;
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  // about
  .specialex__about {
    padding: 120px 0;

    &__ctt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 36px;
      padding-right: 78px;
    }

    &__text {      
    }

    &__pic {
      width: 486px;
      aspect-ratio: 486 / 648;
    }

    &__heading {
      font-weight: 700;
    }

    &__headingSub {
      display: block;
      font-size: 16px;
      line-height: 1;
    }

    &__headingMain {
      display: block;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      margin-top: 13px;
    }

    &__desc {
      display: block;
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 32px;

      p + p {
        margin-top: 1.5em;
      }
    }
  }  

  // deco
  .specialex__deco {
    width: 100%;
    height: 287px;
    // max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    

    &__item {
      display: block;
      // aspect-ratio: 426 / 287;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }  

  // feature
  .specialex__feature {
    padding-bottom: 130px;

    &__item {
      padding: 72px 0;      

      & + & {
        padding-top: 64px;        
      }
    }

    &__itemCol2 {
      display: grid;            
      padding: 0 36px;

      &.__is1 {
        grid-template-columns: 500px 1fr;
        align-items: center;
        gap: 75px;
      }

      &.__is2 {
        grid-template-columns: 1fr 557px;
        align-items: flex-end;
      }
    }

    &__itemCtt {
      padding: 0 52px;
    }

    &__itemHead {
      font-size: 18px;   
      display: flex;
      align-items: center;
      gap: 12px;
      
      // TODO
      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        box-shadow: 
          0 0 1px rgba(#60ff00,.01),
          0 0 5px rgba(#60ff00,1);
      }
    }

    &__itemHeading {
      font-size: 26px;
      line-height: 36 / 26;
      font-weight: 700;
      margin-top: 32px;
    }

    &__itemDesc {
      display: block;
      font-size: 15px;
      line-height: calc(26 / 15);
      font-weight: 500;
      margin-top: 32px;

      p + p {
        margin-top: 1.5em;
      }
    }

    &__itemLink {
      margin-top: 48px;
      display: flex;
      align-items: center;
      width: 826px;
      border: 1px solid #ccc;      
    } 

    &__itemLinkFig {
      width: 258px;
      aspect-ratio: calc(258 / 164);

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__itemLinkText {
      flex: 1;
      padding: 20px 40px;
    }

    &__itemLinkTitle {
      display: block;
      font-size: 18px;
      line-height: calc(24 / 18);
      font-weight: 700;
    }

    &__itemLinkTag {
      display: block;
      font-size: 15px;
      color: #ff0000;
      text-decoration: underline;
      margin-top: 7px;
    }

    &__deco {
      width: 100%;
      height: 480px;
      margin-top: 30px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }    

    &__gallery {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 56px;
      padding: 0 40px;
    }

  }

  .specialex__feature__cta {
    padding: 90px 0;
    background-color: #000;

    &__heading {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

    &__link {
      display: block;
      width: 700px;
      background-color: #07c856;      
      padding: 28px;
      border-radius: 10rem;
      text-align: center;
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      font-size: 17px;
      font-weight: 700;
    }
  }

}