/* ==========================================================================
 *
 * Blocks - tags
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;

.tags {
  & {
    min-height: 150px;
    margin-top: 30px;
    padding-left: 25.322581%;
    border-left: 1px solid rgba($color-white-1, 0.3);
    position: relative;

    h3 {
      width: 25.322581%;
      padding-left: 20px;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  @at-root {
    .tags__items {
      padding: 30px 0 20px;

      ul {
        display: flex;
        flex-flow: row wrap;
      }

      li {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      a {
        height: 32px;
        padding: 0 30px 2px;
        font-size: 14px;
        line-height: 1.286;
        border: 1px solid var(--color-white-1);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 400ms var(--ease-linear-out-slow-in),
          background-color 400ms var(--ease-linear-out-slow-in);

        .-enabledHover & {
          &:hover {
            color: var(--color-black-1);
            background-color: var(--color-white-1);
            transition-duration: 200ms, 200ms;
          }
        }
      }
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      min-height: auto;
      margin-top: cvws(30);
      padding-left: 0;
      border-left: none;

      h3 {
        width: auto;
        padding-left: 0;
        font-size: cvws(34);
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }
    }

    @at-root {
      .tags__items {
        padding: cvws(20) 0 0;

        ul {
        }

        li {
          margin-right: cvws(20);
          margin-bottom: cvws(30);
        }

        a {
          height: cvws(48);
          padding: 0 cvws(40) cvws(4);
          font-size: cvws(20);
          line-height: 1;
          border-radius: cvws(24);
        }
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
