/* ==========================================================================
 *
 * Blocks - top
 *
========================================================================== */

@use './variables' as *;
@use './_utils' as *;
@use '../utilities/mixins/__img-hover' as *;

.top {
  & {
    .section {
    }

    .section__inner {
      padding: 30px 20px;
    }
  }

  @at-root {
    .top__header {
      height: 115px;
      padding: 0 10px 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .top__title {
      font-size: 52px;
      line-height: 0.731;
    }

    .top__description {
      margin-left: 30px;
      padding-left: 30px;
      font-size: 13px;
      line-height: 1.385;
      border-left: 1px solid rgba($color-black-1, 0.1);
    }

    .top__mv {
      padding-bottom: 32px;
      border-bottom: 1px solid rgba($color-black-1, 0.1);
    }

    .top__mv__upper {
      .top__mv__item {
        > a {
          .-enabledHover & {
            &:hover {
              .top__mv__item__img {
                img,
                video {
                  // opacity: 0.75;
                  transform: scale(1.075);
                  // @include img-hover-on;
                }
              }
            }
          }
        }
      }

      .top__mv__item__img {
        height: 100%;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
      }
    }

    .top__mv__lower {
      margin-top: 32px;
      padding: 0 40px;
      display: flex;
      justify-content: center;

      .top__mv__item {
        width: 50%;
        max-width: 520px;
        height: 208px;

        .-tags {
          bottom: 60px;
          left: 115px;

          a {
            font-size: 10px;
          }
        }
      }

      .top__mv__item__body {
        bottom: 12px;
        left: 12px;
        right: 12px;

        .-date {
          font-size: 9px;
        }

        .-title {
          height: 36px;
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }

    .top__mv__item {
      color: var(--color-white-1);
      overflow: hidden;
      position: relative;

      > a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: 0;

        .-enabledHover & {
          &:hover {
            .top__mv__item__img {
              img,
              video {
                opacity: 0.8;
                @include img-hover-on($transform-center: false);
              }
            }
          }
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba($color-black-1, 1) 0%,
            rgba($color-black-1, 1) 10%,
            rgba($color-black-1, 0) 40%
          );
          opacity: 0.7;
          mix-blend-mode: multiply;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }

      .-tags {
        line-height: 1;
        // display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        bottom: 80px;
        left: 155px;
        right: 0;
        z-index: 1;

        a {
          font-size: 13px;
          line-height: 1.6;
          border-bottom: 1px solid var(--color-red-1);
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.004);
          white-space: nowrap;

          .-enabledHover & {
            &:hover {
              border-bottom-color: transparent;
            }
          }

          & + a {
            margin-left: 0.4em;
          }
        }
      }
    }

    .top__mv__item__img {
      width: 100%;
      height: 100%;
      background-color: var(--color-black-1);
      overflow: hidden;
      object-fit: cover;
      object-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        @include img-hover-off($transform-center: false);
      }
    }

    .top__mv__item__body {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      z-index: 2;

      .-date {
        font-size: 11px;
        line-height: 2;
        text-align: left;
        display: block;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.004);
      }

      .-title {
        height: 48px;
        margin-top: 10px;
        font-size: 24px;
        line-height: 1;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.004);

        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .top__links {
    }

    .top__links__inner {
      height: 360px;
      display: flex;
    }

    .top__links__item {
      width: 50%;
      flex-shrink: 0;

      &.-fest {
      }

      &.-rally {
      }

      a {
        width: 100%;
        height: 100%;
        color: var(--color-white-1);
        overflow: hidden;
        display: block;
        position: relative;

        .-enabledHover & {
          &:hover {
            .-bg {
              img {
                filter: brightness(1.25);
                transform: scale(1.045);
                transition-duration: 400ms, 400ms;
              }
            }
          }
        }
      }

      .-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        background-color: var(--color-black-1);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          transition: filter 300ms var(--ease-linear-out-slow-in),
            transform 300ms var(--ease-linear-out-slow-in);
        }
      }

      .-name {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        span {
          font-size: 24px;
        }
      }

      .-logo {
        width: 118px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1;
      }
    }

    .top__news {
      margin-top: 80px;
    }

    .top__news__title {
      font-size: 48px;
      line-height: 1;
    }

    .top__news__content {
      margin-top: 12px;
    }

    .top__news__btn {
      margin-top: 32px;
    }

    .top__ds {
      margin-top: 80px;
      color: var(--color-white-1);
      background: url(../img/top-ds-bg.jpg) no-repeat center center transparent;
      background-size: cover;
    }

    .top__ds__inner {
      padding: 210px 20px 180px;
      text-align: center;
    }

    .top__ds__title {
      em {
        font-size: 48px;
        line-height: 1;
        display: block;
      }

      small {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        display: block;
      }
    }

    .top__ds__text {
      margin-top: 75px;
      font-size: 15px;
      line-height: 1.6;
      position: relative;

      &::before {
        content: '';
        width: 16px;
        height: 1px;
        background-color: var(--color-white-1);
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }

      p {
        & + p {
          margin-top: 25px;
        }
      }
    }

    .top__se {
      max-width: 1280px - 40px;
      margin: 40px auto 0;
      border-radius: 20px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .top__se__inner {
    }

    .top__se__header {
      height: 500px;
      padding: 32px 20px;
      color: var(--color-white-1);
      background: url(../img/top-se-bg.jpg) no-repeat center top transparent;
      background-size: cover;
      border-radius: 20px 20px 0 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-end;
      overflow: hidden;
      position: relative;

      .-t1 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.063;
      }

      .-t2 {
        margin-top: 6px;
        font-size: 15px;
        line-height: 1.333;
      }

      .-t3 {
        font-size: 15px;
        line-height: 1.733;
        position: absolute;
        left: 527px;
        bottom: 26px;

        p {
          margin-top: 24px;
        }
      }
    }

    .top__se__title {
      font-size: 48px;
      line-height: 1;
    }

    .top__se__btn {
      margin-top: 20px;

      a {
        border-color: var(--color-white-1);
      }
    }

    .top__se__contents {
      margin-top: 40px;
    }

    .top__group {
      margin-top: 40px;
      background-color: #f4f9fd;
    }

    .top__group__inner {
      max-width: 1040px + 40px;
      margin: 0 auto;
      padding: 95px 20px 50px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      position: relative;
    }

    .top__group__contents {
      width: 100%;
    }

    .top__group__title {
      small {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.133;
        display: block;
      }

      em {
        margin-top: 6px;
        font-size: 44px;
        line-height: 1;
        display: block;
      }
    }

    .top__group__text {
      margin-top: 15px;
      font-size: 15px;
      line-height: 1.6;

      p {
        &:nth-child(1) {
          line-height: 1.33;
        }
        &:nth-child(2) {
          margin-top: 38px;
        }
        &:nth-child(3) {
          margin-top: 22px;
        }
      }
    }

    .top__group__btn {
      margin-top: 22px;
    }

    .top__group__img {
      width: 30%;
      margin-left: 32px;
      flex-shrink: 0;
    }

    .top__map {
    }

    .top__map__title {
      padding: 35px 20px;
      color: var(--color-white-1);
      font-size: 20px;
      line-height: 1.3;
      font-weight: bold;
      text-align: center;
      background-color: #50575d;
    }

    .top__map__contents {
      iframe {
        width: 100%;
        aspect-ratio: 900 / 334;
      }
    }

    .top__contact {
    }

    .top__contact__inner {
      padding: 110px 20px 120px;
      text-align: center;
    }

    .top__contact__title {
      font-size: 48px;
      line-height: 1;
    }

    .top__contact__text {
      margin-top: 70px;
      font-size: 15px;
      line-height: 1.6;
      position: relative;

      &::before {
        content: '';
        width: 16px;
        height: 1px;
        background-color: var(--color-black-1);
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
      }

      p {
        & + p {
          margin-top: 25px;
        }
      }
    }

    .top__contact__btn {
      width: 480px;
      margin: 40px auto 0;
    }
  }

  // SP 以下 (- 768)
  @media #{$mq-lte-sp} {
    & {
      .section {
      }

      .section__inner {
        padding: cvws(30) cvws(20);
      }
    }

    @at-root {
      .top__header {
        height: auto;
        padding: cvws(34) cvws(20) cvws(28);
        flex-flow: column nowrap;
      }

      .top__title {
        margin: 0 cvws(-20);
        font-size: cvws(50);
        line-height: 1;
        text-align: center;
        white-space: nowrap;
      }

      .top__description {
        margin-left: 0;
        margin-top: cvws(8);
        padding-left: 0;
        font-size: cvws(22);
        line-height: cvws(26);
        border-left: none;
      }

      .top__mv {
        padding-bottom: cvws(40);
      }

      .top__mv__upper {
        .top__mv__item {
          aspect-ratio: 3 / 2;
        }

        .top__mv__item__img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }

      .top__mv__lower {
        margin-top: cvws(40);
        padding: 0 cvws(40);
        flex-flow: column nowrap;
        align-items: center;

        .top__mv__item {
          width: 100%;
          max-width: none;
          height: cvws(268);

          & + .top__mv__item {
            margin-top: cvws(20);
          }

          .-tags {
            bottom: cvws(88);
            left: cvws(170);

            a {
              font-size: cvws(15);
            }
          }
        }

        .top__mv__item__body {
          bottom: cvws(20);
          left: cvws(20);
          right: cvws(20);

          .-date {
            font-size: cvws(13);
          }

          .-title {
            height: cvws(26 * 2);
            margin-top: cvws(20);
            font-size: cvws(24);
            line-height: cvws(26);
          }
        }
      }

      .top__mv__item {
        a {
        }

        .-tags {
          padding-bottom: cvws(4);
          line-height: 1.2;
          bottom: cvws(98);
          left: cvws(170);

          a {
            font-size: cvws(15);
            line-height: cvws(20);
            text-shadow: 0 0 cvws(10) rgba(0, 0, 0, 0.004);
          }
        }
      }

      .top__mv__item__img {
      }

      .top__mv__item__body {
        bottom: cvws(20);
        left: cvws(20);
        right: cvws(20);

        .-date {
          font-size: cvws(13);
          line-height: cvws(18);
          text-shadow: 0 0 cvws(10) rgba(0, 0, 0, 0.004);
        }

        .-title {
          height: cvws(36 * 2);
          margin-top: cvws(10);
          font-size: cvws(32);
          line-height: cvws(36);
          text-shadow: 0 0 cvws(10) rgba(0, 0, 0, 0.004);
        }
      }

      .top__links {
      }

      .top__links__inner {
        height: auto;
        flex-flow: column nowrap;
      }

      .top__links__item {
        width: 100%;
        height: cvws(422);

        .-name {
          font-size: cvws(64);
          left: cvws(20);

          span {
            font-size: cvws(40);
          }
        }

        .-logo {
          width: cvws(146);
          bottom: cvws(20);
          right: cvws(20);
        }
      }

      .top__news {
        margin-top: cvws(75);
      }

      .top__news__title {
        font-size: cvws(64);
      }

      .top__news__content {
        margin-top: cvws(24);
      }

      .top__news__btn {
        margin-top: cvws(40);
        text-align: center;
      }

      .top__ds {
        margin-top: cvws(105);
        background-image: url(../img/top-ds-bg-sp.jpg);
      }

      .top__ds__inner {
        padding: cvws(145) cvws(40);
      }

      .top__ds__title {
        em {
          font-size: cvws(64);
        }

        small {
          margin-top: cvws(20);
          font-size: cvws(24);
        }
      }

      .top__ds__text {
        margin-top: cvws(70);
        font-size: cvws(26);
        line-height: cvws(44);
        text-align: left;

        &::before {
          content: '';
          width: cvws(24);
          top: cvws(-30);
        }

        p {
          letter-spacing: 0;

          & + p {
            margin-top: cvws(45);
          }

          br {
            display: none;
          }
        }
      }

      .top__se {
        max-width: none;
        margin: cvws(68) cvws(20) 0;
        border-radius: cvws(20);
        box-shadow: 0 0 cvws(40) 0 rgba(0, 0, 0, 0.15);
      }

      .top__se__inner {
      }

      .top__se__header {
        height: auto;
        padding: cvws(144) cvws(20) cvws(40);
        background-image: url(../img/top-se-bg-sp.jpg);
        border-radius: cvws(20) cvws(20) 0 0;

        .-t1 {
          margin-top: 0;
          font-size: cvws(26);
          order: 1;
        }

        .-t2 {
          margin-top: cvws(6);
          font-size: cvws(24);
          line-height: cvws(30);
          order: 3;
        }

        .-t3 {
          margin-top: cvws(28);
          font-size: cvws(24);
          line-height: cvws(36);
          position: relative;
          left: auto;
          bottom: auto;
          order: 4;

          p {
            margin-top: 0;

            & + p {
              margin-top: cvws(34);
            }
          }

          br {
            display: none;
          }
        }
      }

      .top__se__title {
        margin-top: cvws(10);
        margin-left: cvws(-2);
        font-size: cvws(64);
        order: 2;
      }

      .top__se__btn {
        margin-top: cvws(54);
        order: 5;
      }

      .top__se__contents {
        margin-top: cvws(40);
      }

      .top__group {
        margin-top: cvws(64);
      }

      .top__group__inner {
        max-width: none;
        padding: cvws(60) cvws(20);
        display: block;
      }

      .top__group__contents {
      }

      .top__group__title {
        small {
          font-size: cvws(24);
        }

        em {
          margin-top: cvws(4);
          font-size: cvws(64);
        }
      }

      .top__group__text {
        margin-top: cvws(15);
        font-size: cvws(24);
        line-height: cvws(36);

        p {
          &:nth-child(1) {
            line-height: cvws(32);
          }
          &:nth-child(2) {
            margin-top: cvws(36);
          }
          &:nth-child(3) {
            margin-top: cvws(36);
            display: flex;

            span {
              width: 100%;
            }

            img {
              width: cvws(300);
              margin-left: cvws(24);
              flex-shrink: 0;
            }
          }
        }
      }

      .top__group__btn {
        margin-top: cvws(40);
      }

      .top__group__img {
      }

      .top__map {
      }

      .top__map__title {
        padding: cvws(30) cvws(20);
        font-size: cvws(24);
      }

      .top__map__contents {
        height: cvws(475);

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .top__contact {
      }

      .top__contact__inner {
        padding: cvws(105) cvws(20) cvws(120);
      }

      .top__contact__title {
        font-size: cvws(64);
      }

      .top__contact__text {
        margin-top: cvws(70);
        font-size: cvws(24);
        line-height: cvws(36);

        &::before {
          width: cvws(24);
          top: cvws(-35);
        }

        p {
          & + p {
            margin-top: cvws(36);
          }
        }
      }

      .top__contact__btn {
        width: cvws(630);
        margin-top: cvws(40);
      }
    }
  }

  // PC Max 以上 (1280 +1 - )
  @media #{$mq-gt-pcmax} {
    & {
    }

    @at-root {
    }
  }
}
