<%_
  const meta = {
    page: 'EXPERIENCE',
  };
-%>
<%_ function content (__append) { -%>
  <section class="ebigroup">

    <section class="ebigroup__mv">
      <figure class="ebigroup__mv__bg">        
        <picture>
          <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/mv_sp.png">
          <img src="/assets/img/ebigroup/mv.png" alt="">
        </picture>
      </figure>
      <h1 class="ebigroup__mv__title">
        <span class="ebigroup__mv__titleMain fontPanchang">EBI GROUP</span>
        <span class="ebigroup__mv__titleSub fontPanchang">イー・ビー・アイ・グループ</span>
      </h1>
    </section>

    <section class="ebigroup__about">      
      <div class="section__inner">
      <div class="ebigroup__about__ctt">
        <div class="ebigroup__about__text">
          <h2 class="ebigroup__about__heading">
            <span class="ebigroup__about__headingMain fontPanchang">EBI GROUP</span>
            <span class="ebigroup__about__headingSub fontPanchang">- Evolving with the times -</span>
          </h2>
          <h3 class="ebigroup__about__head">
            日本最大のポルシェ正規ディーラーグループとして、
            <br class="pc">
            全社員がお客さまの“歓びの創造者”へ
          </h3>
          <div class="ebigroup__about__desc">
            <p>
              EBI GROUPは1998年からボルシェビジネスをスタートし、
              <br class="pc">
              25年以上に渡り国内最大市場である東京でポルシェ正規ディーラーを展開してしています。
            </p>
            <p>
              お客さまの“歓びの創造者”をモットーに、
              <br class="pc">
              経験豊富なスタッフによる丁寧な接客と、
              <br class="pc">
              迅速で質の高いアフターサービスを提供し続け、
              <br class="pc">
              2024年末時点で累計3万1千台以上のポルシェをお客さまのもとへお届けしてきました。
            </p>
            <p>
              オーナーさまの「ポルシェのある生活」がより豊かになるよう、
              <br class="pc">
              プロダクトや季節にちなんだイベントをはじめ、
              <br class="pc">
              多種多様なイベントを店舗スタッフたちが自ら企画しながら、
              <br class="pc">
              オーナーさま同士やスタッフとの繋がりを大切にするご提案を続けています。
            </p>
            <p>
              EBI GROUPだけのエクスクルーシブなポルシェ体験を、
              <br class="pc">
              これからもぜひお楽しみください。
            </p>
          </div>

        </div>
        <figure class="ebigroup__about__pic">
          <picture>
            <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/about_sp.png">
            <img src="/assets/img/ebigroup/about.png" alt="">
          </picture>
        </figure>
      </div>  
    </div>    
    </section>


    <section class="ebigroup__group">
      <div class="section__inner">
        <div class="ebigroup__group__ctt">
          <h2 class="ebigroup__group__head fontPanchang">
            <span>EBI GROUP</span>
          </h2>
          <div class="ebigroup__group__children">
            <div class="ebigroup__group__childrenBox">
                <h3 class="ebigroup__group__childrenBoxHead">
                  ㈱エクセレンス<br class="sp"/>インターナショナル
                </h3>
                <div class="ebigroup__group__childrenBody">
                  <p>【運営店舗】</p>
                  <ul>
                    <li>・ポルシェセンター青山</li>
                    <li>・ポルシェセンター青山 世田谷認定中古車センター</li>
                  </ul>
                </div>
            </div>            
            <div class="ebigroup__group__childrenBox">
                <h3 class="ebigroup__group__childrenBoxHead">
                  ㈱ブライト<br class="sp"/>インターナショナル
                </h3>
                <div class="ebigroup__group__childrenBody">
                  <p>【運営店舗】</p>
                  <ul>
                    <li>・ポルシェセンター目黒</li>
                    <li>・ポルシェセンター目黒 六本木認定中古車センター</li>
                    <li>・ポルシェサービスセンター東京ベイ辰巳</li>
                  </ul>
                </div>
            </div>            
            <div class="ebigroup__group__childrenBox">
                <h3 class="ebigroup__group__childrenBoxHead">
                  ㈱エポカル<br class="sp"/>インターナショナル
                </h3>
                <div class="ebigroup__group__childrenBody">
                  <p>【運営店舗】</p>
                  <ul>
                    <li>・ポルシェセンター高輪</li>
                    <li>・ポルシェセンター高輪 小石川認定中古車センター</li>
                    <li>・ポルシェスタジオ銀座</li>
                  </ul>
                </div>
            </div>            
          </div>
          <div class="ebigroup__group__parent">
            <h3 class="ebigroup__group__parentHead">株式会社イー・ビー・アイ・マーケティング</h3>
            <p class="ebigroup__group__parentDesc">EBI GROUP全体のポルシェビジネスサポート、マーケティング活動、人材開発、レストラン事業など</p>              
          </div>
        </div>

      </div>
    </section>


    <section class="ebigroup__mission">
      <div class="ebigroup__mission__ctt">
        <div class="section__inner">
          <h2 class="ebigroup__mission__head fontPanchang">
            MISSION
          </h2>
          <h3 class="ebigroup__mission__heading">
            お客さまの人生における
            <br class="sp">
            Amazing Momentを創出し、
            <br>
            真に価値あるポルシェライフの
            <br class="sp">
            実現をサポートする
          </h3>
          <div class="ebigroup__mission__desc">
            <p>
              EBI GROUPは日本最大のポルシェ正規ディーラーグループとして、
              <br class="pc">
              お客さまに最高のポルシェライフを謳歌いただくためのご提案を欠かしません。
            </p>
          </div>

          <figure class="ebigroup__mission__pic">
            <picture>
              <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/mission_sp.png">
              <img src="/assets/img/ebigroup/mission.png" alt="">
            </picture>
          </figure>

          <div class="ebigroup__mission__desc __is2">
            <p>
              The RallyやTHE FEST.といった100名以上のお客さまが参加される大規模な走行イベントをはじめ、
              <br class="pc">
              耐久レースの応援ツアーや、地域の子どもたちを拠点へ招待するキッズイベント、
              <br class="pc">
              ショールーム内で行う有名モデルとのコラボファッションショーなど、
              <br class="pc">
              通常のカーディーラーでは体験できないような、“Amazing Moment”を数多く生み出していきます。
            </p>
            <p>
              そして、そのすべては膨大な時間と情熱をかけ、 
              <br class="pc">
              グループ店舗スタッフたちの手によって自ら企画され、綿密な準備を経て、 実現に至ります。
            </p>
            <p>
              ポルシェへの特別な想いをお客さまと共有したい、心からポルシェライフを楽しんでいただきたい、
              <br class="pc">
              という純粋な気持ちを抱く自社スタッフが一丸となって、すべてを創り上げ、 応対します。
              <br class="pc">
              だからこそ、心通うおもてなしがお客さまの心を動かし、初めて“特別な瞬間”へと昇華するのです。
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="ebigroup__feature">
      <div class="section__inner">
        <div class="ebigroup__feature__ctt">
          <div class="ebigroup__feature__head">
            <h2 class="ebigroup__feature__heading">
              ポルシェのある豊かな暮らしを加速させ、想像以上の創造をカタチに
            </h2>
            <p class="ebigroup__feature__desc">
              Evolving with the times一 私たちは時代とともに柔軟に進化し続けます。
              <br class="pc">
              空冷エンジンから水冷エンジンへ、そしてハイブリッドからEVへ、時代は加速度的に進んでいきます。
              <br class="pc">
              マーケットリーダーとして、進化させるべきもの、守るべきものを見極めながら、ポルシェのある豊かな暮らしを加速させます。
              <br class="pc">
              そしてお客さまとともに歩み、新たな価値を社員一丸となり創造していくことによって、業界のベンチマークを常に塗り替えていきます。
            </p>
          </div>
          <div class="ebigroup__feature__body">
            <div class="ebigroup__feature__sec">
              <h3 class="ebigroup__feature__secHead">
                <span class="ebigroup__feature__secHeadingMain fontPanchang">SALES</span>
                <span class="ebigroup__feature__secHeadingSub">直近10年のグループ累計販売台数の推移</span>
              </h3>
              <figure class="ebigroup__feature__secFig __is1">
                <div class="ebigroup__feature__secFigImg">
                  <picture>
                    <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/feature_1_sp.png">
                    <img src="/assets/img/ebigroup/feature_1.png" alt="">
                  </picture>
                </div>
                <figcaption class="ebigroup__feature__secFigCaption __right">
                  ※2024年時点のデータ
                </figcaption>
              </figure>
              <div class="ebigroup__feature__secDesc">
                <p>
                  EBI GROUPがポルシェビジネスをスタートしてから約25年の間に、お客さまへお届けしてきたポルシェ車両のグループ累計販売台数は31,486台に上ります。(2024年末時点)その1台1台すべてにお客さまとの唯一無二のストーリーがあり、語り尽くせないほどたくさんのユニークなエピソードで彩られています。
                  <br>
                  全拠点のハブストア「ポルシェスタジオ銀座」を起点として、グループ全体で次世代のプレミアムカーディーラーのニュースタンダードを確立し、これから先もさらに多くのお客さまへポルシェの魅力をひとつひとつ丁寧にお伝えしていきます。 
                </p>                
              </div>              
            </div>
            <figure class="ebigroup__feature__secDeco">
              <picture>
                <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/feature_1_deco_sp.png">
                <img src="/assets/img/ebigroup/feature_1_deco.png" alt="">
              </picture>
            </figure>            
            <div class="ebigroup__feature__sec">
              <h3 class="ebigroup__feature__secHead">
                <span class="ebigroup__feature__secHeadingMain fontPanchang">AFTER SALES</span>
                <span class="ebigroup__feature__secHeadingSub">Porsche AGが定める資格認定プログラムZPT [ポルシェ認定テクニシャン]の比率</span>
              </h3>
              <figure class="ebigroup__feature__secFig __is2">
                <div class="ebigroup__feature__secFigImg">
                  <picture>
                    <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/feature_2_sp.png">
                    <img src="/assets/img/ebigroup/feature_2.png" alt="">
                  </picture>
                </div>
                <figcaption class="ebigroup__feature__secFigCaption">
                  ※2024年時点のデータ
                </figcaption>
              </figure>              
              <div class="ebigroup__feature__secDesc">
                <p>
                  EBI GROUPが運営する、東京ベイ辰巳 世田谷 目黒 高輪 小石川の5工場には、総勢約70名のテクニシャンが在籍しています。そのほとんどが、ポルシェテクニシャンとしての技術力を問う世界統一資格ZPTの資格を取得しており、さらにその内19名が最難関にして最高位のゴールド資格を保有しています。EV領域においては、ディーラー向けに開放されたHVE資格[ポルシェ独自の世界統一EV資[格]の日本第一号取得者を輩出しました。
                  <br>
                  2024年2月には、日本初の独立型サービスセンター「ポルシェサービスセンター東京ベイ辰巳」をOPENさせ、クラシックからレーシングマシン、最新EVに至るまで、あらゆるポルシェの整備を完璧にこなす精鋭テクニシャンが集結する最高峰の体制を整えました。
                  <br>
                  我々は高度な技術と経験を持つテクニシャンの質と数において、全国のポルシェ正規ディーラーをリードし続けます。                  
                </p>
              </div>
            </div>
            <figure class="ebigroup__feature__secDeco">
              <picture>
                <source media="(max-width: 768px)" srcset="/assets/img/ebigroup/feature_2_deco_sp.png">
                <img src="/assets/img/ebigroup/feature_2_deco.png" alt="">
              </picture>
            </figure>            
          </div>
        </div>
      </div>
    </section>


    <section id="stores" class="ebigroup__stores">
      <div class="ebigroup__stores__head">
        <h2 class="ebigroup__stores__heading">
          <span class="ebigroup__stores__headingMain fontPanchang">EBI GROUP</span>
          <span class="ebigroup__stores__headingSub">拠点一覧</span>
        </h2>
      </div>
      <div class="ebigroup__stores__map">
        <iframe src="https://www.google.com/maps/d/u/7/embed?mid=1Z-whQUwxi7Hfo11cHT262xkwNlil-gY&ehbc=2E312F" width="640" height="480"></iframe>
      </div>

      <div class="section__inner">
        <ul class="ebigroup__stores__list">
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_1.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              ポルシェスタジオ銀座
            </h3>
            <p class="ebigroup__stores__itemDesc">
              ブランドアンバサダーであるポルシェプロが出迎え、E-パフォーマンスモデルの専門的な販売・アフターフォローを中核とする、国内でも類を見ない全く新しい都市型のコンセプトストアです。セールスとポルシェブロの「ダブル担当制」という万全のサポート体制によって、最高のポルシェライフを実現します。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒105-7101 東京都港区東新橋1-5-2（<a href="">Map</a>）
                <br>
                TEL：03-6215-9111
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>ONLINE CONNECTION</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_2.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              ポルシェサービスセンター東京ベイ辰巳              
            </h3>
            <p class="ebigroup__stores__itemDesc">
              東京湾岸の江東区辰巳エリアに位置し、EV専用の作業ペイやダイレクトダイアログペイなど、最先端設備を完備した国内初の独立型大型サービスセンターです。グループ内から最高峰の技術力と経験を有する精鋭のテクニシャンたちが招集された、EBI GROUPが誇るフラッグシップサービスセンターです。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒135-0053 東京都江東区辰巳2-4-25（<a href="">Map</a>）
                <br>
                TEL：03-6457-0911
              </p>
              <p class="ebigroup__stores__itemInfoTag">
                <img src="/assets/img/ebigroup/icon_tag.png" alt="サービスセンター併設">
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span> 
              </a>
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_3.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              ポルシェセンター青山              
            </h3>
            <p class="ebigroup__stores__itemTitleSub">ポルシェエクスクルーシブマニュファクチャーパートナー</p>
            <p class="ebigroup__stores__itemDesc">
              青山通り沿いの表参道駅にほど近い好立地にある、国内最大級のショールームです。最新モデルが整然と並ぶ1Fフロアには、大型の「カレララウンジ」を併設。 関東唯ーとなる「ポルシェエクスクルーシブ マニュファクチャーパートナー」として、お客さまの理想のご要望を形にすることができる、特別なポルシェセンターです。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒156-0053 東京都世田谷区桜3-15-13（<a href="">Map</a>）
                <br>
                TEL：03-5426-2111
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
              <a href="" class="ebigroup__stores__itemLink __ja">
                <span>試乗車一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_4.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              <span>ポルシェセンター青山</span> 世田谷認定中古車センター              
            </h3>
            <p class="ebigroup__stores__itemTitleSub">ポルシェクラシックパートナー</p>
            <p class="ebigroup__stores__itemDesc">
              常時10台以上の厳選された認定中古車を展示し、17ペイのリフトを備えた大規模なサービスセンターを併設。国内初の「ポルシェクラシックパートナー」として、多彩なクラシックモデルの販売・修理も万全の体制でサポート。世界基準のテクニシャンが、安心のポルシェライフを末長くサポートする体制を整えています。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒156-0053 東京都世田谷区桜3-15-13（<a href="">Map</a>）
                <br>
                TEL：03-5426-2111
              </p>
              <p class="ebigroup__stores__itemInfoTag">
                <img src="/assets/img/ebigroup/icon_tag.png" alt="サービスセンター併設">
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>
              </a>              
              <a href="" class="ebigroup__stores__itemLink __ja">
                <span>認定中古車在庫一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_5.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              ポルシェセンター目黒
            </h3>
            <p class="ebigroup__stores__itemDesc">
              中目黒・代官山エリアから程近い山手通り沿いに、新車ショールームとリフト11ペイを備えたサービスセンターが一体となった、大規模なポルシェセンターです。1階2階は新車ショールーム、3階・4階はサービスセンター、地下には40台分の駐車場を完備し、あらゆるお客さまを受け入れる体制を整えています。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒153-0061 東京都目黒区中目黒2-8-21（<a href="">Map</a>）
                <br>
                TEL：03-3719-6221
              </p>
              <p class="ebigroup__stores__itemInfoTag">
                <img src="/assets/img/ebigroup/icon_tag.png" alt="サービスセンター併設">
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span> 
              </a>              
              <a href="" class="ebigroup__stores__itemLink __ja">
                <span>試乗車一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_6.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              <span>ポルシェセンター目黒</span> 六本木認定中古車センター
            </h3>
            <p class="ebigroup__stores__itemDesc">
              新CIが創る店舗コンセプト、「スマートフォンのアイコンの様に、各々が機能的でありながら、集合体にもなりうるコネクト感をもつモジュール」が特徴の、認定中古車センターです。六本木駅徒歩4分の好立地にありながら、都会の喧騒を忘れさせる特別な空間で、ゆったりとお寛ぎいただけます。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒106-0032 東京都港区六本木4-1-4（<a href="">Map</a>）
                <br>
                TEL：03-5545-5250
              </p>
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
              <a href="" class="ebigroup__stores__itemLink __ja">
                <span>認定中古車在庫一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_7.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              ポルシェセンター高輪
            </h3>
            <p class="ebigroup__stores__itemDesc">
              再開発が進む高輪エリアに位置し、新車 中古車サービンスセンターがドッキングした、都内最大の最新CIを採用するポルシェセンターです。約1,090㎡の広大な空間に、新車 認定中古車を最大15台展示し、オーナー専用ラウンジも完備。国内最速150kW級の急速充電機を2基備え、最先端のポルシェ体験を提供します。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒108-0074 東京都港区高輪2-15-17（<a href="">Map</a>）
                <br>
                TEL：03-5791-0911
              </p>
              <p class="ebigroup__stores__itemInfoTag">
                <img src="/assets/img/ebigroup/icon_tag.png" alt="サービスセンター併設">
              </p>              
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
              <a href="" class="ebigroup__stores__itemLink">
                <span>試乗車一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span> 
              </a>              
              <a href="" class="ebigroup__stores__itemLink">
                <span>認定中古車在庫一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span> 
              </a>              
            </div>
          </li>
          <li class="ebigroup__stores__item">
            <figure class="ebigroup__stores__itemFig">
              <img src="/assets/img/ebigroup/store_8.png" alt="">
            </figure>
            <h3 class="ebigroup__stores__itemTitle">
              <span>ポルシェセンター高輪</span>
              小石川認定中古車センター
            </h3>
            <p class="ebigroup__stores__itemDesc">
              文京区の春日通りに面し、付近には播磨坂桜並木、小石川植物園、東京ドームなどの有名観光スポットが多数点在。厳選された認定中古車の販売や買取に加え、整備工場を併設することでお客さまがポルシェライフを安心して過ごせるように、全面的なサポート体制を整えてお客さまのご来店をお待ちしております。
            </p>
            <div class="ebigroup__stores__itemInfo">
              <p class="ebigroup__stores__itemAddress">
                〒112-0006 東京都文京区小日向4-2-13（<a href="">Map</a>）
                <br>
                TEL：03-5803-9711
              </p>
              <p class="ebigroup__stores__itemInfoTag">
                <img src="/assets/img/ebigroup/icon_tag.png" alt="サービスセンター併設">
              </p> 
            </div>
            <div class="ebigroup__stores__itemLinks">
              <a href="" class="ebigroup__stores__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>              
              <a href="" class="ebigroup__stores__itemLink">
                <span>認定中古車在庫一覧</span>
                <span class="ebigroup__stores__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__stores__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>
              </a>              
            </div>
          </li>
        </ul>
      </div>
    </section>


    <section class="ebigroup__restaurant">
      <div class="ebigroup__restaurant__head">
        <h2 class="ebigroup__restaurant__heading">
          <span class="ebigroup__restaurant__headingMain fontPanchang">RESTAURANT</span>          
        </h2>
      </div>
      <div class="section__inner">
        <ul class="ebigroup__restaurant__list">
          <li class="ebigroup__restaurant__item">
            <figure class="ebigroup__restaurant__itemFig">
              <img src="/assets/img/ebigroup/restaurant_1.png" alt="">
            </figure>
            <div class="ebigroup__restaurant__itemTitleWrap">
              <h3 class="ebigroup__restaurant__itemTitle">
                <span class="ebigroup__restaurant__itemTitleMain">The Momentum by Porsche</span>
                <span class="ebigroup__restaurant__itemTitleSub">ザ モメンタム バイ ポルシェ</span>
              </h3>
              <figure class="ebigroup__restaurant__itemLogo">
                <img src="/assets/img/ebigroup/restaurant_1_logo.png" alt="">
              </figure>
            </div>
            <p class="ebigroup__restaurant__itemDesc">
              ポルシェスタジオ銀座に隣接する、世界初のポルシェ公認のファインダイニング。各国から集めたこだわりのお酒と、シェフ自慢の数々の料理が、心と身体を明日へのエネルギーで満たします。そして、細部までこだわり抜いて設えたスタイリッシュな空間は、車好きの遊び心をくすぐるまさに上質な大人の遊び場です。
            </p>
            <div class="ebigroup__restaurant__itemInfo">
              <p class="ebigroup__restaurant__itemAddress">
                〒105-7101 東京都港区東新橋1-5-2（<a href="">Map</a>）
                <br>
                TEL：03-6280-6785
              </p>
            </div>
            <div class="ebigroup__restaurant__itemLinks">
              <a href="" class="ebigroup__restaurant__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__restaurant__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__restaurant__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>
            </div>
          </li>
          <li class="ebigroup__restaurant__item">
            <figure class="ebigroup__restaurant__itemFig">
              <img src="/assets/img/ebigroup/restaurant_2.png" alt="">
            </figure>
            <div class="ebigroup__restaurant__itemTitleWrap">
              <h3 class="ebigroup__restaurant__itemTitle">
                <span class="ebigroup__restaurant__itemTitleMain">Tanta Roba</span>
                <span class="ebigroup__restaurant__itemTitleSub">タンタローバ</span>
              </h3>
              <figure class="ebigroup__restaurant__itemLogo">
                <img src="/assets/img/ebigroup/restaurant_2_logo.png" alt="">
              </figure>
            </div>
            <p class="ebigroup__restaurant__itemDesc">
              1999年にオープンし、本場イタリアの郷土料理を気軽に楽しめるトラットリア、それがタンタローバです。シェフ自らが日本各地へと足を運び集めた厳選食材と、イタリア郷土料理を掛け合わせた料理は、イタリア商工会議所にも認定されており、文京区の播磨坂で地元に長く愛される本格イタリアンを味わえます。
            </p>
            <div class="ebigroup__restaurant__itemInfo">
              <p class="ebigroup__restaurant__itemAddress">
                〒112-0002 東京都文京区小石川4-18-7（<a href="">Map</a>）
                <br>
                TEL：03-3815-1122                
              </p>
            </div>
            <div class="ebigroup__restaurant__itemLinks">
              <a href="" class="ebigroup__restaurant__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__restaurant__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__restaurant__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span> 
              </a>
            </div>
          </li>
          <li class="ebigroup__restaurant__item">
            <figure class="ebigroup__restaurant__itemFig">
              <img src="/assets/img/ebigroup/restaurant_3.png" alt="">
            </figure>
            <div class="ebigroup__restaurant__itemTitleWrap">
              <h3 class="ebigroup__restaurant__itemTitle">
                <span class="ebigroup__restaurant__itemTitleMain">Ristorante 桜鏡</span>
                <span class="ebigroup__restaurant__itemTitleSub">リストランテ 桜鏡</span>
              </h3>
              <figure class="ebigroup__restaurant__itemLogo">
                <img src="/assets/img/ebigroup/restaurant_3_logo.png" alt="">
              </figure>
            </div>
            <p class="ebigroup__restaurant__itemDesc">
              都心から車で60分の大自然。四季折々の旬の素材を使い、食材の可能性を最大限に生かした一皿を、最高のロケーションで味わえます。その瞬間にしか味わえない、あなただけの特別なリストランテです。御殿場の自然豊かな環境・食材・料理・ワイン、そして空間、全てが折り重なって生まれるマリアージュはまさに芸術です。
            </p>
            <div class="ebigroup__restaurant__itemInfo">
              <p class="ebigroup__restaurant__itemAddress">
                〒412-0026 静岡県御殿場市東田中 3373-20（<a href="">Map</a>）
                <br>
                TEL：0550-70-6255
              </p>
            </div>
            <div class="ebigroup__restaurant__itemLinks">
              <a href="" class="ebigroup__restaurant__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__restaurant__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__restaurant__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>                
              </a>
            </div>
          </li>
          <li class="ebigroup__restaurant__item">
            <figure class="ebigroup__restaurant__itemFig">
              <img src="/assets/img/ebigroup/restaurant_4.png" alt="">
            </figure>
            <div class="ebigroup__restaurant__itemTitleWrap">
              <h3 class="ebigroup__restaurant__itemTitle">
                <span class="ebigroup__restaurant__itemTitleMain">Kitchen MOTOTECH</span>
                <span class="ebigroup__restaurant__itemTitleSub">キッチンモトテック</span>
              </h3>
              <figure class="ebigroup__restaurant__itemLogo">
                <img src="/assets/img/ebigroup/restaurant_4_logo.png" alt="">
              </figure>
            </div>
            <p class="ebigroup__restaurant__itemDesc">
              東京科学大学すずかけ台キャンパスの中にあるレストラン。緑あふれる公園の中に佇むカフェテリアのようなくつろぎのオアシスです。プラタナス(すずかけ)の木から差し込む陽光を浴びながらいただく一皿は、和食や洋食の概念に捉われず、好奇心に溢れたシェフが作り出す極上の一品です。
            </p>
            <div class="ebigroup__restaurant__itemInfo">
              <p class="ebigroup__restaurant__itemAddress">
                〒226-0026 神奈川県横浜市緑区長津田町4259
                <br>
                東京科学大学すずかけ台キャンパス 大学会館2F（<a href="">Map</a>）
                <br>
                TEL：045-744-9663
              </p>
            </div>
            <div class="ebigroup__restaurant__itemLinks">
              <a href="" class="ebigroup__restaurant__itemLink fontPanchang">
                <span>OFFICIAL WEBSITE</span>
                <span class="ebigroup__restaurant__itemLinkIcon">
                  <img src="/assets/img/ebigroup/icon_blank.png" alt="">
                </span>
                <span class="ebigroup__restaurant__itemLinkIconHv">
                  <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
                </span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>




    <section class="ebigroup__kokusai">
      <div class="section__inner">
        <div class="ebigroup__kokusai__ctt">
          <figure class="ebigroup__kokusai__pic">
            <img src="/assets/img/ebigroup/group.png" alt="">
          </figure>
          <div class="ebigroup__kokusai__text">
            <h2 class="ebigroup__kokusai__head">
              <img src="/assets/img/ebigroup/group_logo.png" alt="">
            </h2>
            <h3 class="ebigroup__kokusai__heading">
              スマートモビリティ社会の実現をリードし、
              <br class="pc">
              心躍る未来へ
            </h3>
            <p class="ebigroup__kokusai__desc">
              EBI GROUPは国際グループの一員です。
              <br class="pc">
              ポルシェビジネスのほか、ジャガー・ランドローバー、マクラーレンなどの輸入車やレクサスの正規販売店、タクシー、レストラン、イベント施設、バングアンドオルフセンの代理店など様々な事業を展開しています。
              <br class="pc">
              お客さまに寄り添った高いサービスを提供するとともに、関わる全ての人々のライフスタイルがより彩り豊かになるように、グループ全体で努めています。
            </p>
            <a href="" class="ebigroup__kokusai__link">
              <span>ABOUT KOKUSAI GROUP</span>
              <span class="ebigroup__kokusai__linkIcon">
                <img src="/assets/img/ebigroup/icon_blank_white.png" alt="">
              </span>
            </a>            

          </div>
        </div>
      </div>
    </section>

    
    
  </section>
<%_ }; -%>
<%- include(`${ejsRelativePath}layouts/default`, { meta, content }) %>