/* ==========================================================================
 *
 * Utility: Mixin - hidden
 * display: none せずに要素を隠す
 *
========================================================================== */

@mixin hidden() {
  width: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important;
  pointer-events: none !important;
}
