/* ==========================================================================
 *
 * Utility: Mixin - hidden-text
 * sprite などのお供に
 *
========================================================================== */

@mixin hidden-text($no-height: false) {
  display: block;
  overflow: hidden;
  @if $no-height == true {
    height: 0;
  } @else {
    text-align: left;
    text-indent: -9999px;
    white-space: nowrap;
  }
}
