<header class="header" data-ebi-header>
  <div class="header__news">
    <div data-ebi-header-news-wrapper>
      <div data-ebi-header-news-item>
        <time class="fontPanchang">2024/00/00</time>
        <span><a href="#TBD" target="_blank">重要なお知らせの際の告知情報ダミーテキスト重要なお知らせの際の告知情報ダミーテキスト</a></span>
      </div>
    </div>
  </div>

  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/">
        <img src="/assets/img/logo.svg" alt="EBI DIGITAL STUDIO">
      </a>
    </h1>

    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/">
              <span>TOP</span>
            </a>
          </li>
          <li class="nav__item -contents">
            <a>
              <span>CONTENTS</span>
              <i>
                <%- include(`./svg/icon-arrow-1.svg`) %>
              </i>
            </a>
            <div class="nav__child">
              <div class="nav__child__inner">
                <ul>
                  <li class="-reviews">
                    <a href="/reviews/">
                      <span>REVIEWS</span>
                      <span>レビュー</span>
                    </a>
                  </li>
                  <li class="-customize">
                    <a href="/customize/">
                      <span>CUSTOMIZE</span>
                      <span>カスタマイズ</span>
                    </a>
                  </li>
                  <li class="-heritage">
                    <a href="/heritage/">
                      <span>HERITAGE</span>
                      <span>ヘリテージ</span>
                    </a>
                  </li>
                  <li class="-race">
                    <a href="/race/">
                      <span>RACE</span>
                      <span>レース</span>
                    </a>
                  </li>
                  <li class="-lifestyle">
                    <a href="/lifestyle/">
                      <span>LIFESTYLE</span>
                      <span>ライフスタイル</span>
                    </a>
                  </li>
                  <li class="-event">
                    <a href="/event/">
                      <span>EVENT</span>
                      <span>イベント</span>
                    </a>
                  </li>
                  <li class="-love">
                    <a href="/love/">
                      <span>LOVE PORSCHE</span>
                      <span>オーナーレビュー</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav__item">
            <a href="/special-ex/">
              <span>SPECIAL EXPERIENCE</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/news/">
              <span>NEWS</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="/ebi-group/">
              <span>EBI GROUP</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__contact contactBanner">
      <a href="https://ginza.ebi-group.tokyo/digital-s" target="_blank">
        <img src="/assets/img/contact-txt.png" alt="CONTACT">
        <img src="/assets/img/contact-txt.png" alt="CONTACT">
        <img src="/assets/img/contact-txt.png" alt="CONTACT">
      </a>
    </div>

    <div class="sp header__toggle">
      <button type="button" data-ebi-nav-toggle>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
