
<section class="latest">
  <div class="latest__inner">
    <h2 class="latest__title fontPanchang">
      LATEST CONTENTS
    </h2>
    <div class="latest__rows">
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">REVIEWS</span>
            <span class="-ja">レビュー</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-6.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  サーキット場でポルシェ試乗<br>ポルシェ・エクスペリエンスセンター東京
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#コラム</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">CUSTOMIZE</span>
            <span class="-ja">カスタマイズ</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-6.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  サーキット場でポルシェ試乗<br>ポルシェ・エクスペリエンスセンター東京
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#コラム</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">HERITAGE</span>
            <span class="-ja">ヘリテージ</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">RACE</span>
            <span class="-ja">レース</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-6.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  サーキット場でポルシェ試乗<br>ポルシェ・エクスペリエンスセンター東京
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#コラム</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">LIFESTYLE</span>
            <span class="-ja">ライフスタイル</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-6.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  サーキット場でポルシェ試乗<br>ポルシェ・エクスペリエンスセンター東京
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#コラム</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row" data-ebi-carousel-wrapper>
        <div class="latest__row__title">
          <div class="-inner">
            <span class="-en fontPanchang">EVENT</span>
            <span class="-ja">イベント</span>
          </div>
          <div class="latest__nav">
            <div class="-btns" data-ebi-carousel-btns></div>
            <div class="-indicator">
              <span data-ebi-carousel-indicator></span>
              <span data-ebi-carousel-total></span>
            </div>
          </div>
        </div>
        <div class="latest__items" data-ebi-carousel="latest">>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-4.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  銀座〜湾岸エリアの<br>ダイナミックな試乗コースを体験
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#REVIEWS</a>
              <a href="#TBD">#porschepro</a>
              <a href="#TBD">#testdrive</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-5.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  大学生の頃からの憧れ<br>ポルシェ911ターボでドライブインタビュー
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#ドライブインタビュー</a>
            </div>
          </article>
          <article class="latest__item">
            <a href="#TBD">
              <div class="latest__item__img">
                <img src="/assets/img/_dummy/top-img-6.jpg" alt="">
              </div>
              <div class="latest__item__body">
                <time class="-date fontPanchang">2024/03/03</time>
                <h3 class="-title">
                  サーキット場でポルシェ試乗<br>ポルシェ・エクスペリエンスセンター東京
                </h3>
              </div>
            </a>
            <div class="-tags">
              <a href="#TBD">#コラム</a>
            </div>
          </article>
          <div class="latest__item -viewall">
            <a href="#TBD">
              <span class="fontPanchang">VIEW ALL</span>
            </a>
          </div>
        </div>
      </div>
      <div class="latest__row -tag">
        <%- include(`./m-tags.ejs`) %>
      </div>
    </div>
  </div>
</section>