<aside class="love">
  <div class="love__imgs">
    <div class="-left">
      <img src="/assets/img/love-img-1.jpg" alt="">
      <img src="/assets/img/love-img-2.jpg" alt="">
      <img src="/assets/img/love-img-3.jpg" alt="">
      <img src="/assets/img/love-img-4.jpg" alt="">
      <img src="/assets/img/love-img-5.jpg" alt="">
    </div>
    <div class="-right">
      <img src="/assets/img/love-img-6.jpg" alt="">
      <img src="/assets/img/love-img-7.jpg" alt="">
      <img src="/assets/img/love-img-8.jpg" alt="">
      <img src="/assets/img/love-img-9.jpg" alt="">
      <img src="/assets/img/love-img-10.jpg" alt="">
    </div>
  </div>

  <div class="love__inner">
    <div class="love__summary">
      <h2 class="love__title">
        <em class="fontPanchang">LOVE<br>PORSCHE</em>
        <span>オーナーレビュー</span>
      </h2>
      <div class="love__description">
        <p>
          ポルシェを愛する皆様に、<br>
          ポルシェとともに過ごすカーライフについてインタビュー。<br>
          一人ひとりのポルシェへの想いについて、<br class="pc">
          ご紹介いたします。
        </p>
      </div>
      <div class="love__btn ebiButton -small -transparent">
        <a href="/love/">
          <span class="fontPanchang">VIEW ALL</span>
        </a>
      </div>
    </div>

    <div class="love__latest">
      <article class="love__article">
        <a href="#TBD">
          <div class="love__article__img">
            <img src="/assets/img/_dummy/love-img-1.jpg" alt="">
          </div>
          <div class="love__article__body">
            <time class="-date fontPanchang">2024/03/03</time>
            <h3 class="-title">
              ポルシェのある生活。<br>日常の街乗りを楽しめるポルシェ911カレラT
            </h3>
          </div>
        </a>
        <div class="-tags">
          <a href="#TBD">#LOVE PORSCHE</a>
          <a href="#TBD">#ポルシェ911</a>
        </div>
      </article>
    </div>
  </div>
</aside>