<aside class="related section">
  <div class="section__inner">
    <h2 class="related__title fontPanchang">
      RELATED CONTENTS
    </h2>
    <div class="related__items">
      <article class="related__item">
        <a href="#TBD">
          <div class="related__item__img">
            <img src="/assets/img/_dummy/related-img-1.jpg" alt="">
          </div>
          <div class="related__item__body">
            <time class="-date fontPanchang">2024/03/03</time>
            <h3 class="-title">
              Porsche × Dai Tamura Special ART exhibition 田村大 スペシャルコラボレーション
            </h3>
          </div>
        </a>
        <div class="-tags">
          <a href="#TBD">#イベント</a>
        </div>
      </article>
      <article class="related__item">
        <a href="#TBD">
          <div class="related__item__img">
            <img src="/assets/img/_dummy/related-img-2.jpg" alt="">
          </div>
          <div class="related__item__body">
            <time class="-date fontPanchang">2024/03/03</time>
            <h3 class="-title">
              PUMAｘPORSCHE 911ターボ 50Y ジャパンリミテッドエディション販売
            </h3>
          </div>
        </a>
        <div class="-tags">
          <a href="#TBD">#グッズ</a>
        </div>
      </article>
      <article class="related__item">
        <a href="#TBD">
          <div class="related__item__img">
            <img src="/assets/img/_dummy/related-img-3.jpg" alt="">
          </div>
          <div class="related__item__body">
            <time class="-date fontPanchang">2024/03/03</time>
            <h3 class="-title">
              911 Targa 4S Heritage Design Editionがポルシェスタジオ銀座で展示
            </h3>
          </div>
        </a>
        <div class="-tags">
          <a href="#TBD">#イベント</a>
        </div>
      </article>
    </div>
  </div>
</aside>